<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailLayout}"
>
	<head>
		<title>Base Jobs</title>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<nav v-scroll-spy="{offset:150}">
			    <q-list link style="height:100%">
			        <q-item tag="a" href="#status">Job Status</q-item>
			        <q-item tag="a" href="#last">Jobs</q-item>
	        	</q-list>
	        </nav>
		</section>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<big th:text="${model.base.name}"></big> 
				</div>
				<div layout:fragment="content-header-actions">
					<q-btn round size="lg" color="primary" icon="more_horiz"  direction="down" aria-label="More actions" title="More actions" class="on-left"> 
					  <q-popover><q-list link>
					  	<q-item><q-btn flat>Add view</q-btn></q-item>
					    <q-item><q-btn flat>Delete</q-btn></q-item>
					    <q-item><q-btn flat>Archive</q-btn></q-item>
					  </q-list>
					  </q-popover>
					</q-btn>
				</div>
				<div layout:fragment="content-header-tabs">
					<q-btn flat type="a" th:href="@{/basemanagement/base/information/} + ${model.base.baseId}">Base Informations</q-btn>
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/base/jobs/} + ${model.base.baseId}">Jobs</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/base/equipment/} + ${model.base.baseId}">Equipment</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:form>
				<vu:block id="status" title="Job Status">
				a
				</vu:block>
				
				<vu:block id="last" title="Jobs">
				a
				</vu:block>
			</vu:form>
		</section>
	</body>
</html>