<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Environment</title>
		
				<!-- graphs -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-color/1.0.3/d3-color.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-interpolate/1.1.5/d3-interpolate.min.js" ></script>
		<script th:src="@{/dashboard/static/dashboard.js}"></script>
		<script th:src="@{/dashboard/static/dashboard.chartjs.js}"></script>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<nav v-scroll-spy="{offset:150}">
			    <q-list link style="height:100%">
			        <q-item tag="a" href="#weatheroverview">Weather Overview</q-item>
			        <q-item tag="a" href="#farmoverview">Farm Overview</q-item>
			        <q-item tag="a" href="#securityoverview">Security overview</q-item>
			        <q-item tag="a" href="#collaboratoroverview">Personnel overview</q-item>
	        	</q-list>
	        </nav>
		</section>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<span class="text-bigger" th:text="${model.base.name}"></span> 
				</div>
				<div layout:fragment="content-header-actions" th:include="baseInformation :: #baseActions">
					
				</div>
				<div layout:fragment="content-header-tabs">
					<q-btn flat type="a" th:href="@{/basemanagement/base/information/} + ${model.base.baseId}">Base Informations</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/base/equipment/} + ${model.base.baseId}">Equipment</q-btn>
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/base/environment/} + ${model.base.baseId}">Environment</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
				<q-card id="weatherooverview" class= q-ma-md>
			<q-card-title class="bg-secondary">Weather Overview
						<q-icon name="fas fa-sun" style="font-size: 2rem" slot="right" color="orange"/>
						</q-card-title>
<div id="weather" class="row justify-center gutter-lg" th:if="${!model.modeCreate}" >
		<div class="col-md-4 col-xs-12">
<q-card class="bg-white text-center" >

	<q-card-title class="indicator-title text-faded">Current Temperature</q-card-title>
		<q-card-main>
			<q-knob
				th::value="${model.lastTemperature}"
				:min="0"
				:max="50"
				:decimals="1"
				color="orange"
				:readonly="true" style="font-size: 2rem">
			</q-knob>
				
		<div class="chart chartjs linechart bg-white" 
		   th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
		   data-query-measures='["value:mean"]'
		   data-query-data-filter='{ "measurement": "temperature", "filters": {"equipment": "*"}}'
		   data-query-time-filter='{ "from": "now() - 3d", "to": "now()", "dim": "1h"}'
		   data-labels='{"value:mean":"Mean Value from temperature"}' 
		   data-colors='iGREEN2BLUE'></div> 
		</q-card-main>
		</q-card>

		</div>
		<div class="col-md-4 col-xs-12">
		
<q-card class="bg-white text-center" >

	<q-card-title class="indicator-title text-faded">Current Humidity</q-card-title>
		<q-card-main>
			<q-knob
				th::value="${model.lastHumidity}"
				:min="0"
				:max="50"
				:decimals="1"
				color="blue"
				:readonly="true" style="font-size: 2rem">
			</q-knob>
			
		<div class="chart chartjs linechart bg-white" 
		   th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
		   data-query-measures='["value:mean"]'
		   data-query-data-filter='{ "measurement": "humidite", "filters": {"equipment": "*"}}'
		   data-query-time-filter='{ "from": "now() - 3d", "to": "now()", "dim": "1h"}'
		   data-labels='{"value:mean":"Mean Value Humitidy"}' 
		   data-colors='iRED2GREEN'></div> 
		</q-card-main>
		</q-card>		
</div>
</div>


</q-card>



				<q-card id="farmoverview"  class= q-ma-md>
			<q-card-title class="bg-secondary" >Farm Overview
						<q-icon name="fas fa-tractor" style="font-size: 2rem" slot="right" color="deep-orange-9"/>
						</q-card-title>
<div id="farm" class="row gutter-lg justify-center" th:if="${!model.modeCreate}" >
		<div class="col-md-4 col-xs-12">
<q-card class="bg-white text-center" >

		<q-card-title class="indicator-title text-faded">Farms to water:</q-card-title>
		<q-card-main>
<!-- TODO -->
				<div class="chart chartjs linechart bg-white" 
				th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
				data-query-measures='["value:mean"]'
				data-query-data-filter='{ "measurement": "moisture", "filters": {"equipment": "*"}}'
				data-query-time-filter='{ "from": "now() - 1d", "to": "now()", "dim": "1h"}'
				data-labels='{"value:mean":"Soil moisture"}' 
				data-colors='iGREEN:INTENSITY'></div> 
		</q-card-main>
		</q-card>

		</div>

</div>
</q-card>

				<q-card id="securityoverview"  class= q-ma-md>
			<q-card-title class="bg-secondary" >Security Overview
						<q-icon name="fas fa-lock" style="font-size: 2rem" slot="right" color="black"/>
						</q-card-title>
<div id="security" class="row gutter-lg justify-center" th:if="${!model.modeCreate}" >
		<div class="col-md-4 col-xs-12">
<q-card class="bg-white text-center" >

		<q-card-title class="indicator-title text-faded">Triggered alarm this month:</q-card-title>
		<!-- TODO  appel du nombre d'alerte déclenché ce mois-ci tout équipement de sécurité confondu-->
		<q-card-main>

				<div>
				<!-- TODO Graphe qui somme l'ensemble des alertes des équipements de sécurité et fait un graphe  -->
				</div> 
		</q-card-main>
		</q-card>

		</div>

</div>
</q-card>


				<q-card id="collaboratoroverview"  class= q-ma-md>
			<q-card-title class="bg-secondary" >Collaborator Overview
						<q-icon name="fas fa-user" style="font-size: 2rem" slot="right" color="yellow-1"/>
						</q-card-title>
<div id="collaborator" class="row gutter-lg justify-center" th:if="${!model.modeCreate}" >
		<div class="col-md-4 col-xs-12">
<q-card class="bg-white text-center" >

		<q-card-title class="indicator-title text-faded">Average stress over the last 24 hours:</q-card-title>
		<q-card-main>
				<!-- TODO  appel du nombre moyen de personnes stressés-->
			<q-knob
				th::value="16"
				:min="0"
				:max="50"
				:decimals="1"
				color="blue"
				:readonly="true" style="font-size: 2rem">
				
			</q-knob>
				<div>
				<!-- TODO Graphe qui somme l'ensemble des alertes des équipements de sécurité-->
				</div> 
		</q-card-main>
		
		<q-card-title class="indicator-title text-faded">Collaborators overstressed over the last 24 hours :</q-card-title>
		<!-- TODO  appel des équipements qui ont une mesure au-dessus du seuil de stress défini-->
		<q-card-main>
		</q-card>

		</div>

</div>
</q-card>
		</section>
		
		<section layout:fragment="javscript-footer" >
			<script type="text/javascript">
				componentStates.lastEquipments.columns[2].sort = VUi.methods.sortDatesAsString("DD/MM/YYYY");
			</script>
		<script type="text/javascript">
			showCharts();
		</script>
		</section>
	</body>
</html>