<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Base Jobs</title>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<nav v-scroll-spy="{offset:150}">
			    <q-list link style="height:100%">
			        <q-item tag="a" href="#overview">Equipment Overview</q-item>
			        <q-item tag="a" href="#equipments">Recently purchased equipment units</q-item>
			        <q-item tag="a" href="#maintenance">Lastest maintenance tickets</q-item>
	        	</q-list>
	        </nav>
		</section>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<span class="text-bigger" th:text="${model.base.name}"></span> 
				</div>
				<div layout:fragment="content-header-actions">
					<q-btn round size="lg" color="primary" icon="fas fa-cubes" type="a" th:href="@{/basemanagement/equipments/}"  aria-label="Add equipment" title="See all equipments" class="on-left" ></q-btn>
					<q-btn round size="lg" color="primary" icon="fas fa-cubes" type="a" th:href="@{/basemanagement/equipment/new}"  aria-label="Add equipment" title="Add equipment" class="on-left" >+</q-btn>
					<q-btn round size="lg" color="primary" icon="more_horiz"  direction="down" aria-label="More actions" title="More actions" class="on-left"> 
					  <q-popover><q-list link>
					  	<q-item><q-btn flat>Add view</q-btn></q-item>
					    <q-item><q-btn flat>Delete</q-btn></q-item>
					    <q-item><q-btn flat>Archive</q-btn></q-item>
					  </q-list>
					  </q-popover>
					</q-btn>
				</div>
				<div layout:fragment="content-header-tabs">
					<q-btn flat type="a" th:href="@{/basemanagement/base/information/} + ${model.base.baseId}">Base Informations</q-btn>
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/base/equipment/} + ${model.base.baseId}">Equipment</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:form>
				<vu:block id="overview" title="Equipment Overview">
					<vu:include-data object="equipmentOverviews" field="'*'" />
					<div class="row">
						<div v-for="equipmentOverview in vueData.equipmentOverviews" :key="equipmentOverview.businessId" class="col-2 text-center" >
							<q-knob
								  :value="equipmentOverview.okCount"
								  :min="0"
								  :max="equipmentOverview.count"
								  color="positive"
								  :readonly="true" ><q-icon name="mdi-radio-tower" size="80px" color="primary"></q-icon></q-knob>
							<div class="text-primary small-caps">{{equipmentOverview.businessName}}</div>
							<div class="text-italic">{{equipmentOverview.count}} Unit(s)</div>
						</div>
					</div>
					
				</vu:block>				
				<vu:block id="equipments" title="Recently purchased equipment units">
					<vu:table list="lastEquipments" componentId="lastEquipments" rowsPerPage="5">
						<vu:column field="code" />
						<vu:column field="name" sortable="true" />
						<vu:column field="purchaseDate" sortable="true" />
						<vu:column name="equipmentType" label="Equipment Type" >
							<vu:field-read field="equipmentTypeId" list="equipmentTypes" listKey="equipmentTypeId" listDisplay="label" />
						</vu:column>
						<vu:column name="actions" label="Actions" >
							<vu:include-data object="lastEquipments" field="equipmentId" />
							<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/basemanagement/equipment/}'+props.row.equipmentId|"></q-btn>
						</vu:column>
					</vu:table>
				</vu:block>
				
				<vu:block id="maintenance" title="Lastest maintenance tickets">
					<vu:table list="lastTickets" componentId="lastTickets" rowsPerPage="5">
						<vu:column field="code" />
						<vu:column field="title" />
						<vu:column field="dateCreated" />
						<vu:column name="actions" label="Actions" >
							<vu:include-data object="lastTickets" field="ticketId" />
							<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/maintenance/ticket/}'+props.row.ticketId|"></q-btn>
						</vu:column>
					</vu:table>
				</vu:block>
			</vu:form>
		</section>
		
		<section layout:fragment="footer" >
			<script type="text/javascript">
				componentStates.lastEquipments.columns[2].sort = VUi.methods.sortDatesAsString("DD/MM/YYYY");
			</script>
		</section>
	</body>
</html>