<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Bases</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<vu:include-data object="bases" field="baseId" />
			<vu:include-data object="bases" field="name" />
			<vu:include-data object="bases" field="code" />
			<vu:include-data object="bases" field="tags" />
			<vu:include-data object="bases" field="geosectorId" />
			<vu:include-data object="bases" field="healthLevel" />
			<vu:include-data object="bases" field="creationDate" />
			<div class="m-title text-h6 q-mb-md">{{vueData.bases.length}} Bases</div>
			<vu:cards list="bases" componentId="baseCards" cardClass="marsCard col-lg-3 col-md-6 col-xs-12"  sortUrl="@{/basemanagement/bases/_sort}" rowsPerPage="8" showMore="true" showMoreLabel="Show more" >
					<div class="nav" th:@click="|goTo('@{/basemanagement/base/information/}'+item.baseId)|">
						<q-img th::src="|'@{/basemanagement/base/}'+item.baseId+'/mainPicture'|"></q-img>
						<q-card-section class="row" >
							<div class="col-4 q-mr-sm" style="max-width: 100px;" >
								<div><q-knob
									  show-value
									  :value="item.healthLevel"
									  :min="0" :max="100"
									  color="positive" track-color="grey-2" size="80px"
									  :thickness="0.15"
									  :readonly="true" ><q-icon name="fas fa-dice-d20" size="2rem" color="primary" ></q-icon></q-knob></div>
							</div>
							<div class="col ellipsis" >
								<span class="text-primary small-caps text-bigger">{{item.name}}</span><br/>
								<span >{{item.code}}</span><br/>
								<vu:field-read field="baseTypeId" list="baseTypes" listKey="baseTypeId" /><br/>
								Created : {{item.creationDate}}<br/>
								<q-icon name="location_on" size="25px"></q-icon><vu:field-read field="geosectorId" list="geosectors" listKey="geosectorId" listDisplay="sectorLabel" /><br/>		
							</div>		
					</q-card-section>
					</div>
					<q-separator></q-separator>
					<q-card-actions>
						<q-chip v-for="tag in item.tags" :hide-underline="true" >{{tag}}</q-chip>
					</q-card-actions>
				</vu:cards>
		</section>
	</body>
</html>