<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Bases</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<vu:include-data object="bases" field="baseId" />
			<vu:include-data object="bases" field="name" />
			<vu:include-data object="bases" field="code" />
			<vu:include-data object="bases" field="tags" />
			<vu:include-data object="bases" field="geosectorId" />
			<vu:include-data object="bases" field="healthLevel" />
			<vu:include-data object="bases" field="creationDate" />
			<div class="q-title q-mb-md">{{vueData.bases.length}} Bases</div>
			<vu:cards list="bases" componentId="baseCards" cardClass="marsCard col-xl-4 col-md-6 col-xs-12"  sortUrl="@{/basemanagement/bases/_sort}" rowsPerPage="8" showMore="true" showMoreLabel="Show more" >
					<div class="q-item-link" th:@click="|goTo('@{/basemanagement/base/information/}'+item.baseId)|">
						<q-card-media>
							<img th::src="|'@{/basemanagement/base/}'+item.baseId+'/mainPicture'|"/>
						</q-card-media>
						<q-card-main class="row" >
							<div class="col-4 q-mr-sm" style="max-width: 100px;" >
								<div><q-knob
									  :value="item.healthLevel"
									  :min="0"
									  :max="100"
									  color="positive"
									  size="100%"
									  :readonly="true" ><q-icon name="fas fa-dice-d20" size="3em" color="primary" style="margin-top:-8px" ></q-icon></q-knob></div>
							</div>
							<div class="col ellipsis" >
								<a class="text-primary" th::href="|'@{/basemanagement/base/information/}'+item.baseId|">{{item.name}}</a><br/>
								<span >{{item.code}}</span><br/>
								<vu:field-read field="baseTypeId" list="baseTypes" listKey="baseTypeId" /><br/>
								Created : {{item.creationDate}}<br/>
								<q-icon name="location_on" size="25px"></q-icon><vu:field-read field="geosectorId" list="geosectors" listKey="geosectorId" listDisplay="sectorLabel" /><br/>		
							</div>		
					</q-card-main>
					</div>
					<q-card-separator></q-card-separator>
					<q-card-actions>
						<q-chips-input :value="item.tags"  :readonly="true"  :hide-underline="true" ></q-chips-input>
					</q-card-actions>
				</vu:cards>
		</section>
	</body>
</html>