<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailLayout}"
>
	<head>
		<title>Jobs Executions</title>
	</head>
	
	<section>
		<div layout:fragment="content-header-title">
			<big th:text="${model.job.label}"></big> 
		</div>
		<div layout:fragment="content-header-tabs">
			<vu:button-link flat label="Detail" url="@{/jobDetail/} + ${model.job.name}"/>
			<vu:button-link class="active" flat label="Executions" url="@{/jobExecutions/} + ${model.job.name}"/>
		</div>
	</section>
	
	<body>
		<section layout:fragment="content" >
			<vu:include-data object="jobExecutions" field="preId" />
			<vu:include-data object="jobExecutions" field="executionTime" />
			<vu:include-data object="jobExecutions" field="status" />
			<vu:table list="jobExecutions" componentId="jobExecutions" sortUrl="@{/hr/persons/_sort}">
				<vu:column field="beginTime" />
				<vu:column field="endTime"  />
				<vu:column name="executionTime" label="Execution time" >
					{{props.row.executionTime}} ms
				</vu:column>
				<vu:column name="status" label="Status">
					{{props.row.status}}
				</vu:column>
				<vu:column name="action" label="Actions">
					<q-btn label="View detail" th:@click="|openModal('jobExecutionDetailModal', '@{/jobExecutionDetail/}' + props.row.preId )|"></q-btn>
				</vu:column>
			</vu:table>
			<vu:modal componentId="jobExecutionDetailModal" title="Execution Detail" iframe_width="1000" iframe_height="800" />
		</section>
	</body>
</html>