<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title>Nova-bot</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.17/dist/umd/quasar.mat.min.css" rel="stylesheet" type="text/css">
 	<link href="./chatbot.css" rel="stylesheet" type="text/css">
    <style type="text/css">
		body {
			color: black;
		}
		
		#page {
			visibility: hidden;
		}
		
		main.q-layout-page {
			height:100vh;
			padding: 50px 8px 10px 8px;
		}
		
		.toolbar {
			height: 40px;
			min-height: 40px;
			z-index: 10000;
		}
		
		.toolbar button {
			margin-right: 5px;
		}
		
		.q-loading-bar.top {
			top: 40px;
			height: 4px !important;
		}
    </style>
  </head>
  <body style="color:black">
    <div id="q-app">
      <q-layout view="lHh Lpr fff">
        <q-page-container>
			<div class="toolbar non-selectable fixed full-width bg-primary text-white row items-center">
				<div class="title col-grow q-ml-md">
					Nova-help
				</div>
				<q-btn round flat color="white" text-color="black" size="sm" @click="menu = !menu">
					<q-icon name="menu"></q-icon>
				</q-btn>
				<q-btn round flat color="white" text-color="black" size="sm" @click="minimize()">
					<q-icon name="minimize"></q-icon>
				</q-btn>
				<q-btn round flat color="white" text-color="black" size="sm" @click="close()">
					<q-icon name="close"></q-icon>
				</q-btn>
			</div>
			<div id="loading" class="column items-center q-pt-xl">Chargement ...</div>
			<q-page id="page" padding class="column animate-fade">
				<v-chatbot v-if="!menu" bot-url="https://minefi-nova.kleegroup.com/bot/webhooks/rest/webhook" id="main" class="column col-grow"></v-chatbot>
				<div v-if="menu" id="menu" class="column col-grow bg-grey-2 q-pa-sm animate-fade">
					Aucune données à caractère personnel n'est enregistré.
					<q-btn
						label="Fermer"
						class="q-mt-md"
						@click="menu = false"
						color = "white"
						text-color="black">
					</q-btn>
				</div>
			</q-page>
        </q-page-container>
      </q-layout>
    </div>


	<script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.17/dist/umd/quasar.mat.umd.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.17/dist/umd/quasar.ie.polyfills.umd.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.17/dist/umd/i18n.fr.umd.min.js"></script>-->
<!--
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.17/dist/umd/quasar.mat.umd.js"></script>
-->
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	
	<script src="/mars/vertigo-ui/static/js/v-components/v-chatbot.js"></script>

    <script>

		var chatbot = new Vue({
			el: '#q-app',
			data: {
				menu: false
			},
			methods: {
				initBot: function() {
					document.getElementById('page').style.visibility="visible";
					document.getElementById('loading').style.display="none";
				},
				minimize: function() {
					parent.postMessage("Chatbot.minimize", "*");
				},
				close: function() {
					this.$q.dialog({
						title: 'Confirmation',
						message: 'Si vous fermez cette fenêtre, la conversation sera terminée.',
						ok: 'Fermer',
						cancel: 'Annuler'
					}).then(function() {
						parent.postMessage("Chatbot.close", "*");
					});
					
				}
			}
		});
		
		chatbot.initBot();
    </script>
  </body>
</html>
