<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Commands</title>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-commands.js}"></script>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="row col-12">
				<div class="row col-12 justify-around" >
					<v-commands th:base-url="@{/api/}" class="col-9" ></v-commands> 
	    		</div>
			</q-page>		
		</section>
	</body>
</html>