<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Academy</title>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="row col-12">
				<div class="col-12 text-center" th:style="'background-image:url(' + @{/static/img/cms/academy/learning-girl.jpg} + '); background-size: 100% auto; background-repeat:no-repeat;'">
				  <h1 style="padding-top: 450px; padding-bottom: 30px; margin-bottom: 0;">Academy</h1>
				</div>
				<div class="row col-12 justify-around" >
			 		<div class="col-md-3 col-xs-12 q-jumbotron bg-white q-mt-sm q-py-sm">
					 	<div class="text-h2 text-center">
					 		<q-icon name="fas fa-users"></q-icon>
					 	</div>
					 	<div class="text-subtitle1">
			    		</div>
			    		<hr class="q-hr q-my-lg"/>
			    		<div class="q-mb-md text-center text-h4">Engaging in a collaborative learning experience </div>
		    		</div>
		    		<div class="col-md-3 col-xs-12 q-jumbotron bg-white q-mt-sm q-py-sm">
					 	<div class="text-h2 text-center">
					 		<q-icon name="fas fa-chart-line"></q-icon>
					 	</div>
					 	<div class="text-subtitle1">
			    		</div>
			    		<hr class="q-hr q-my-lg"/>
			    		<div class="q-mb-md text-center text-h4">Empowering teams to leverage their potential</div>
		    		</div>
		    		<div class="col-md-3 col-xs-12 q-jumbotron bg-white  q-mt-sm q-py-sm">
					 	<div class="text-h2 text-center">
					 		<q-icon name="fas fa-globe"></q-icon>
					 	</div>
					 	<div class="text-subtitle1">
					      
			    		</div>
			    		<hr class="q-hr q-my-lg"/>
			    		<div class="q-mb-md text-center text-h4">Learning anytime, anywhere</div>
		    		</div>
	    			<div class="row col-12 justify-center">
						<q-btn type="a" href="https://kleeacademy.360learning.com" color="primary" class="q-py-sm q-px-xl q-mt-md" label="Go to Klee Academy" ></q-btn>
	    			</div>
	    		</div>
	    		
			</q-page>		
		</section>
	</body>
</html>