<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Environment</title>
		
		<!-- graphs -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-color/1.0.3/d3-color.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-interpolate/1.1.5/d3-interpolate.min.js" ></script>
		<script th:src="@{/dashboard/static/dashboard.js}"></script>
		<script th:src="@{/dashboard/static/dashboard.chartjs.js}"></script>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			        <q-item tag="a" href="#weatheroverview">Weather Overview</q-item>
			        <q-item tag="a" href="#farmoverview">Farm Overview</q-item>
			        <q-item tag="a" href="#securityoverview">Security overview</q-item>
			        <q-item tag="a" href="#collaboratoroverview">Personnel overview</q-item>	
		</section>
	
		<section>
			<div layout:fragment="content-header-title" id="equipmentTitle">
				<span class="text-bigger">Environment</span>
			</div>
		</section>
	
		<section layout:fragment="content" >
			<vu:block id="weatheroverview" title="Weather Overview" icon="fas fa-sun">
				<div class="row gutter-xl" >
					<div class="col-md-6 col-xs-12 text-center">
						<div class="text-h6">Current Temperature</div>
						<q-knob
							th:text="|${model.lastTemperature}°C|"
							:min="0"
							:max="50"
							:decimals="1"
							color="orange"
							:readonly="true" show-value size="60px" >
						</q-knob>
							<div class="chart chartjs linechart bg-white" 
						   		th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
						   		data-query-measures='["value:mean"]'
						   		data-query-data-filter='{ "measurement": "temperature", "filters": {"equipment": "*"}}'
						   		data-query-time-filter='{ "from": "now() - 3d", "to": "now()", "dim": "1h"}'
						   		data-labels='{"value:mean":"Temperature (°C)"}' 
						   		data-colors='iSPECTRUM'
						   		data-options='{"scales" : { "yAxes" : [{ "ticks" : { "beginAtZero": false, "min": 15, "max" : 30 } }] }}'></div> 
					</div>
					<div class="col-md-6 col-xs-12 text-center">
						<div class="text-h6">Current Humidity</div>
						<q-knob
							th:text="|${model.lastHumidity}%|"
							:min="0"
							:max="50"
							:decimals="1"
							color="blue"
							:readonly="true" show-value size="60px">
						</q-knob>
							<div class="chart chartjs linechart bg-white" 
							   th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
							   data-query-measures='["value:mean"]'
							   data-query-data-filter='{ "measurement": "humidite", "filters": {"equipment": "*"}}'
							   data-query-time-filter='{ "from": "now() - 3d", "to": "now()", "dim": "1h"}'
							   data-labels='{"value:mean":"Humitidy (%)"}' 
							   data-colors='iGREEN2BLUE'
							   data-options='{"scales" : { "yAxes" : [{ "ticks" : { "beginAtZero": false, "min": 20, "max" : 50 } }] }}'></div> 			
					</div>							
				</div>
			</vu:block>

			<vu:block id="farmoverview" title="Farm Overview" icon="fas fa-tractor">
				<div class="row items-center">
					<div class="col-md-6 col-xs-12 text-center gutter-xs">
						<div class="text-center"> <span class="indicator text-negative" th:text="${model.farmsToWater}" /><br/><span class="indicator-title text-faded">Farms to water</span></div>
							<div class="ml-1">
								<q-btn rounded push th:@click="|httpPostAjax('@{_onFan}', {})|" :class="'on-left '" 
								size="lg" color="red"  icon-right="fas fa-wind"
								aria-label="Fan control" title="Start fan" >ON</q-btn>
								<q-btn rounded push th:@click="|httpPostAjax('@{_offFan}', {})|" :class="'on-left '" 
								size="lg" color="primary"    icon-right="fas fa-power-off"
								aria-label="Fan control" title="Stop fan" >OFF</q-btn>
							</div>
					</div>
					<div class="col-md-6 col-xs-12 text-center gutter-xs">
							<div class="chart chartjs linechart bg-white" 
								th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
								data-query-measures='["value:mean"]'
								data-query-data-filter='{ "measurement": "moisture", "filters": {"equipment": "*"}}'
								data-query-time-filter='{ "from": "now() - 1d", "to": "now()", "dim": "1h"}'
								data-labels='{"value:mean":"Soil moisture (%)"}' 
								data-colors='iGREEN:INTENSITY'></div> 				
					</div>
				</div>
			</vu:block>
			
			<vu:block id="securityoverview" title="Security Overview" icon="fas fa-lock">
				<div class="row items-center">
					<div class="col-md-6 col-xs-12 column items-center gutter-md">
						<div class="text-center"> <span class="indicator text-deep-orange" th:text="${model.totalAlert}" /><br/><span class="indicator-title text-faded">Triggered alarm this week</span></div>
						<div class="chart chartjs stakedbarchart bg-white" 
								th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
								data-query-measures='["value:count"]'
								data-query-data-filter='{ "measurement": "fireAlarm", "filters": {}, "additionalWhereClause" : "value = 1"}'
								data-query-time-filter='{ "from": "now() - 1w", "to": "now()", "dim": "1d"}'
								data-labels='{"value:count":"Number of alert"}' 
								data-colors='iRED2GREEN'>
						</div> 				
						<!-- TODO Graphe qui somme l'ensemble des alertes des equipements de securite et fait un graphe  -->

					</div>		
					<div class="col-md-6 col-xs-12 column gutter-md">
						<div class="text-center">
							<q-btn rounded push th:@click="|httpPostAjax('@{_alert}', {})|" :class="'on-left '" 
							size="lg" color="red"  icon-right="fas fa-exclamation-circle"
							aria-label="Triggered alarm in base" title="Trigger alarm in base" >Alert</q-btn>
							<q-btn rounded push th:@click="|httpPostAjax('@{_stop}', {})|" :class="'on-left '" 
							size="lg" color="primary"    icon-right="fas fa-bell-slash"
							aria-label="Triggered alarm in base" title="Stop alarm in base" >Stop</q-btn>
						</div>
						<div class="text-h6">Send a message to the Led Displayer Panel</div>
						<q-input v-model="dataX.message"
							th::after="|[
								{
									icon: 'arrow_forward',
									handler () {
										httpPostAjax('@{_sendMessage}', {message : dataX.message});
									}
								}
							]|"></q-input>
					</div>
				</div>
				
			</vu:block>
			
			<vu:block id="collaboratoroverview" title="Collaborator Overview" icon="fas fa-user">
				<div>Work in progress</div>
			</vu:block>
		</section>
		
		<section layout:fragment="javascript-footer" >
			<script type="text/javascript">
				showCharts();
			</script>
		</section>
	</body>
</html>