<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Home</title>
		<!-- graphs -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-color/1.0.3/d3-color.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-interpolate/1.1.5/d3-interpolate.min.js" ></script>
		<script th:src="@{/dashboard/static/dashboard.js}"></script>
		<script th:src="@{/dashboard/static/dashboard.chartjs.js}"></script>
		
		<!-- maps -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css"/>
		<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-map.js}"></script>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		<q-page padding class="row col-12 q-col-gutter-md col justify-center">			
					<div class="col-lg-3 col-md-6 col-12">
						<q-card >
							<q-card-section class="text-h6 bg-secondary text-white">Bases</q-card-section>
							<q-card-section class="row justify-center items-center" style="height: 100px;">
								<span class="text-secondary" style="font-size:5em;" th:text="${model.basesSummary.baseCount}"></span> 
								<q-icon name="fas fa-dice-d20" color="grey on-right" size="4em"></q-icon>
							</q-card-section>
						</q-card>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<q-card>
							<q-card-section class="text-h6 bg-secondary text-white">Global Health Level</q-card-section>
							<q-card-section class="row justify-center" style="height: 100px;">
								<q-rating readonly th::value="${model.basesSummary.baseMeanHealth} / 100 * 3 + 1" :max="3" size="3em" icon="favorite" color="red"></q-rating>
							</q-card-section>
						</q-card>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<q-card>
							<q-card-section class="text-h6 bg-secondary text-white">Equipment</q-card-section>
							<q-card-section  style="height: 100px;">
								<div class="column items-center">
									<div class="row text-secondary indicator" th:text="|${model.basesSummary.onlineEquipmentPercent} %|" ></div>
									<div class="row text-grey indicator-title">Equipments online</div>
								</div>
							</q-card-section>
						</q-card>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<q-card>
							<q-card-section class="text-h6 bg-secondary text-white">Maintenance</q-card-section>
							<q-card-section  style="height: 100px;">
								<div class="column items-center">
									<div class="row text-secondary indicator" th:text="${model.basesSummary.openedTickets}" ></div>
									<div class="row text-grey indicator-title">Opened Tickets</div>
								</div>
							</q-card-section>
						</q-card>
					</div>
				<div class="col-12" >
					<vu:include-data object="bases" field="geoLocation" />
					<vu:include-data object="bases" field="name" />
					<v-map  tabindex="1" style="width:100%; height: 600px;" id="map" marker-color="#027BE3" :list="vueData.bases" field="geoLocation" name-field="name"></v-map>
				</div>
					<div class="col-lg-6 col-12">
						<q-card>
							<q-card-section class="text-h6 bg-secondary text-white">Supplies</q-card-section>
							<q-card-section class="q-gutter-sm">
								<div class="row q-mt-lg">
									<span class="col-1 text-blue justify-between"><q-icon name="fas fa-tint" color="blue"></q-icon> 75%</span>
									<q-linear-progress class="col" :value="0.75" stripe color="blue" style="height: 20px"></q-linear-progress> 
								</div>
								<div class="row">
									<span class="col-1 text-yellow"><q-icon name="fas fa-bolt" color="yellow"></q-icon> 98%</span>
									<q-linear-progress class="col" :value="0.98" stripe  color="yellow" style="height: 20px"></q-linear-progress>
								</div>
								<div class="row">
									<span class="col-1 text-grey"><q-icon name="fas fa-cloud" color="grey"></q-icon> 20%</span>
									<q-linear-progress class="col" :value="0.20" stripe  color="grey" style="height: 20px"></q-linear-progress>
								</div>
							</q-card-section>
						</q-card>
					</div>
					<div class="col-lg-6 col-12">
						<vu:table list="lastWorkOrders" componentId="lastWorkOrders" rowsPerPage="3" >
								<vu:column field="name" />
								<vu:column field="dateCreated" label="Creation Date" />
								<vu:column field="dateClosed" label="Closing Date" />
								<vu:column name="status" label="Status" >
									<vu:field-read field="workOrderStatusId" list="workOrderStatus" listKey="workOrderStatusId" listDisplay="label" />
								</vu:column>
							</vu:table>
					</div>
		</q-page>
		</section>
	</body>
	<section layout:fragment="javascript-footer" >
		<script type="text/javascript">
			showCharts();
		</script>
	</section>
</html>