<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Trust</title>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="row col-12">
		 		<q-parallax class="q-mx-none" th:src="@{/static/img/cms/face-id-android.jpg}" :height="400">
				  <h1>Share</h1>
				</q-parallax>
				
				<div class="row col-12 justify-around" >
			 		<div class="col-md-5 col-xs-12 q-jumbotron bg-white">
					 	<div class="text-h2">OpenData</div>
					 	<div class="text-subtitle1">
			    		</div>
			    		<div class="row col-12 justify-center">
			    			<img height="200px" th:src="@{/static/img/cms/logoOpenDataSoft.png}" alt="Open Data Soft"/>
		    			</div>
			    		<p>
			    		The MMC Command Center publishes Open Data sets about bases, equipment units and equipment types, and teams.
			    		</p>
			    		<p>
			    		The Mars Mining Corporation leverages the Open Data Soft service to make these data sets available to its business partners and also to terran researchers.  
			    		</p>
			    		<hr class="q-hr q-my-lg"/>
			    		<div class="row col-12 justify-around">
			    			<q-btn type="a" th:href="@{/opendata/opendatasets/}" color="primary" class="q-py-sm q-px-xl" label="View OpenData sets" ></q-btn>
			    			<q-btn type="a" target="new" href="https://klee.opendatasoft.com/pages/m-opendata-sets-new/" color="secondary" class="q-py-sm q-px-xl" label="Go to Open Data Soft portal" ></q-btn>
			    		</div>
		    		</div>
		    		<div class="col-md-5 col-xs-12 q-jumbotron bg-white">
					 	<div class="text-h2">Api</div>
					 	<div class="text-subtitle1">
			    		</div>
			    		<div class="row col-12 justify-center">
			    			<img  th:src="@{/static/img/cms/logoWSO2.png}" alt="WSO2"/>
			    		</div>
			    		<p>
			    		API Management permit to open the information system to a targetted audience.
			    		</p>
			    		<p>
			    		With digital transformation API are now largely used and standardized. To deal with the proliferation of APIs, API Management provide API stores that catalog all accessibles APIs for use.
			    		<br>
			    		With API Management, consummers can now freely browse and register to use those API by using securized access.
			    		<br>
			    		On the usage, quota alongside with billing of these API can now be used directly without the need to develop a custom solution.
			    		<br>
			    		Lifecycle management is also handled by the product: versionning and status can now be operated throught the administrative part of this solution.
			    		<br>
			    		Moreover, this solution records usage statistics and analytics and a dashboard is used to provide control and performance indicators of published API and technical alerts.
			    		</p>
			    		
			    		<ul>
			    			<li>Catalog existing API</li>
			    			<li>Freely browse and register API with securized access</li>
			    			<li>Quota and billing management</li>
			    			<li>Easy Lifecycle Management</li>
			    			<li>Indicators with dashboard</li>
			    			<li>Alerts</li>
			    		</ul>
			    		<hr class="q-hr q-my-lg"/>
			    		<div class="row col-12 justify-center">
			    			<q-btn type="a" th:href="${model.apiManagementUrl}" color="primary" class="q-py-sm q-px-xl" label="Access API Management" target="_blank" ></q-btn>
			    		</div>
		    		</div>
	    		</div>
			</q-page>		
		</section>
	</body>
</html>