<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Spiders</title>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="column col items-center">
		 		<div>
					<iframe 
						title="Video Youtube"
						style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; "
   						src="https://www.youtube.com/embed/iYYRH4apXDo" 
   						frameborder="0" 
   						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
   					</iframe>		 			
		 		</div>
		 		<div>
		 			Team : TODO
		 		</div>
			</q-page>		
		</section>
	</body>
</html>