<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/sampleLayout}"
>

<head>
	<title>UI Hello Home</title>
</head>

<body>
	<div layout:fragment="content">
		<p>Hello Vertigo-UI !!</p>
		<p>
			Votre premier écran Vertigo-UI : une page Thymeleaf rendue par le controller
			<code>HomeController</code> dans le layout <code>sampleLayout</code>.
		</p>
	</div>
</body>
</html>
