<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Equipment Informations</title>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<nav v-scroll-spy="{offset:150}">
			    <q-list link style="height:100%">
			        <q-item tag="a" href="#health">Health Condition</q-item>
			        <q-item tag="a" href="#general">General Information</q-item>
			        <q-item tag="a" href="#financial">Financial value</q-item>				      
	        	</q-list>
	        </nav>
		</section>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<span class="text-bigger" th:text="${model.equipment.code?:'New Equipment'}"></span>
					<br/><span class="text-smaller" th:text="${model.equipment.name}"></span>
				</div>
				<div th:if="${!model.modeCreate}" layout:fragment="content-header-actions">
					<vu:button-submit th:if="${model.modeEdit}"   action="@{_cancel}" :round size="lg" color="primary" icon="fas fa-ban" :flat aria-label="Cancel" title="Cancel" class="on-left"  />
					<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" :round size="lg" color="primary" icon="edit" aria-label="Edit" title="Edit" class="on-left"/>
				</div>
				<div th:if="${!model.modeCreate}" layout:fragment="content-header-tabs">
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}">Informations</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}">Maintenance</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}">Environment</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:form>
				<div id="health" class="row q-ma-md" th:if="${!model.modeCreate}" >
					<div class="col-md-3 col-xs-12">
						<q-card class="bg-white text-center" >
							<q-card-title class="indicator-title text-faded">Health</q-card-title>
							<q-card-main>
								<q-knob
								  th::value="${model.equipment.healthLevel}"
								  :min="0"
								  :max="100"
								  color="positive"
								  :readonly="true" style="font-size: 2rem"></q-knob>
							</q-card-main>
						</q-card>
					</div>
					<div class="col-md-9 col-xs-12 q-pl-md ">
						<q-card class="bg-white row justify-around items-center" style="height:100%;">
							<div class="text-center"> <span class="indicator text-positive" th:text="${model.equipmentMaintenanceOverview.openedTickets}"/><br/><span class="indicator-title text-faded">Opened Tickets(s)</span></div>
							<div class="text-center"> <span class="indicator text-positive" th:text="${model.equipmentMaintenanceOverview.workOrdersInprogress}"/><br/><span class="indicator-title text-faded">WorkOrder(s) in progress</span></div>
						</q-card>
					</div>
				</div>
				<vu:block id="general" title="General Information">
					<vu:grid cols="2">
						<vu:text-field object="equipment" field="name"/>
						<vu:text-field object="equipment" field="code"/>
						<vu:autocomplete object="equipment" field="baseId" list="bases" labelField="name"/>
						<vu:select object="equipment" field="equipmentTypeId" list="equipmentTypes" />
						<vu:select object="equipment" field="businessId" list="businesses" labelField="name" />
						<vu:date object="equipment" field="purchaseDate" />
						<vu:chips-autocomplete object="equipment" field="tags" list="tags" staticData="true" />
						<vu:text-field object="equipment" field="geoLocation" />
						<vu:grid-cell>
							<vu:text-area object="equipment" field="description"/>
						</vu:grid-cell>
					</vu:grid>
				</vu:block>
				<vu:block id="financial" title="Financial value">
					<vu:grid cols="2">
						<vu:text-field object="equipment" field="equipmentValue" input_suffix="'&#8364;'"/>
						<vu:text-field object="equipment" field="rentingFee" input_suffix="'&#8364;'"/>
					</vu:grid>
				</vu:block>
				<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{_save}" color="primary" />
				<vu:button-submit th:if="${model.modeCreate}"  label="Create" action="@{_create}" color="primary" />
			</vu:form>
		</section>
	</body>
</html>