<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailLayout}"
>
	<head>
		<title>Equipment Environment</title>
		
		<!-- graphs -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-color/1.0.3/d3-color.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-interpolate/1.1.5/d3-interpolate.min.js" ></script>
		<script th:src="@{/dashboard/static/dashboard.js}"></script>
		<script th:src="@{/dashboard/static/dashboard.chartjs.js}"></script>
	</head>
	
	<body>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<span class="text-bigger" th:text="${model.equipment.code}"></span>
					<br/><span class="text-smaller" th:text="${model.equipment.name}"></span>
				</div>
				<div th:if="${!model.modeCreate}" layout:fragment="content-header-tabs">
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}">Informations</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}">Maintenance</q-btn>
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}">Environment</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
			<div class="row gutter-md" >
				<div class="col-md-6 col-xs-12" >
					<div class="chart chartjs stakedbarchart bg-white" 
							    th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
							    data-query-measures='["value:mean"]'
							    data-query-data-filter='{ "measurement": "temperature", "filters": {"equipment": "fs01"}}'
							    data-query-time-filter='{ "from": "now() - 3d", "to": "now()", "dim": "1h"}'
								data-labels='{"value:mean":"Mean Value"}' 
							    data-colors='iRED2GREEN'></div> 
				</div>
				<div class="col-md-6 col-xs-12" >
					<div class="chart chartjs linechart bg-white" 
							    th:data-url="@{/api/basemanagment/equipment/environment/data/series}" 
							    data-query-measures='["value:mean"]'
							    data-query-data-filter='{ "measurement": "temperature", "filters": {"equipment": "fs01"}}'
							    data-query-time-filter='{ "from": "now() - 3d", "to": "now()", "dim": "1h"}'
								data-labels='{"value:mean":"Mean Value"}' 
							    data-colors='iRED2GREEN'></div> 
				</div>
			 </div>
		</section>
	</body>
	
	<section layout:fragment="footer" >
		<script type="text/javascript">
			showCharts();
		</script>
	</section>
</html>