<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Equipments' search</title>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-facets.js}"></script>
	</head>
	
	<body>
		<section layout:fragment="content" >	
			<vu:search resultKey="equipments" searchUrl="@{/basemanagement/equipments/_search}" collectionComponentId="equipmentsTable">
				<div class="row gutter-md">
					<div class="gt-md" style="flex-basis: 300px;">
						<vu:facets resultKey="equipments" />
					</div>
					<div class="col">
						<vu:include-data-primitive key="criteria"/>
						<q-search inverted-light color="white" icon="search" placeholder="Type, Name..." v-model="vueData.criteria" @input="search('equipments')"></q-search>
						<br/>
						<vu:table list="equipments_list" componentId="equipmentsTable" sortUrl="${searchUrl}"
						tr_@click.native="|goTo('@{/basemanagement/equipment/}'+props.row.equipmentId)|" tr_class="nav">
							<vu:column field="name" />
							<vu:column field="code" sortable="true"/>
							<vu:column field="equipmentTypeName" />
							<vu:column field="equipmentCategoryName" />							
						</vu:table>
					</div>
				</div>
			</vu:search>
		</section>
	</body>
</html>