<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Equipment Maintenance</title>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<nav v-scroll-spy="{offset:150}">
			    <q-list link style="height:100%">
			        <q-item tag="a" href="#tickets">Tickets</q-item>
	        	</q-list>
	        </nav>
		</section>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<span class="text-bigger" th:text="${model.equipment.code}"></span>
					<br/><span class="text-smaller" th:text="${model.equipment.name}"></span>
				</div>
				<div layout:fragment="content-header-actions">
					<vu:button-submit action="@{_addTicket}" :round size="lg" color="primary" icon="add" aria-label="Create ticket" title="Create ticket" class="on-left"/>
				</div>
				<div layout:fragment="content-header-tabs">
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}">Informations</q-btn>
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}">Maintenance</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:block id="tickets" title="Tickets">
				<vu:table list="tickets" componentId="tickets" rowsPerPage="10">
					<vu:column field="code" />
					<vu:column field="title" />
					<vu:column field="dateCreated" />
				</vu:table>
			</vu:block>
		</section>
	</body>
</html>