<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Equipment Maintenance</title>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<nav v-scroll-spy="{offset:150}">
			    <q-list link style="height:100%">
			        <q-item tag="a" href="#openedTickets">Opened tickets</q-item>
			        <q-item tag="a" href="#closedTickets">Closed tickets</q-item>
	        	</q-list>
	        </nav>
		</section>
		
		<section>
				<div layout:fragment="content-header-left">
					<img th:src="@{/static/img/bases/Mars base 1.jpg}" class="detailImg gt-md"/>
				</div>
				<div layout:fragment="content-header-title">
					<span class="text-bigger" th:text="${model.equipment.code}"></span>
					<br/><span class="text-smaller" th:text="${model.equipment.name}"></span>
				</div>
				<div layout:fragment="content-header-actions">
					<vu:button-submit action="@{_addTicket}" :round size="lg" color="primary" icon="add" aria-label="Create ticket" title="Create ticket" class="on-left"/>
				</div>
				<div layout:fragment="content-header-tabs">
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}">Informations</q-btn>
					<q-btn flat type="a" class="active" th:href="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}">Maintenance</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}">Environment</q-btn>
					<q-btn flat type="a" th:href="@{/basemanagement/equipment/vr/} + ${model.equipment.equipmentId}">VR View</q-btn>
				</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:block id="openedTickets" title="Opened tickets">
				<vu:table list="openedTickets" componentId="openedTickets" rowsPerPage="10">
					<vu:column field="code" />
					<vu:column field="title" />
					<vu:column field="dateCreated" />
					<vu:column name="actions" label="Actions" >
						<vu:include-data object="openedTickets" field="ticketId" />
						<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/maintenance/ticket/}'+props.row.ticketId|"></q-btn>
					</vu:column>
				</vu:table>
			</vu:block>
			<vu:block id="closedTickets" title="Closed tickets">
				<vu:table list="closedTickets" componentId="closedTickets" rowsPerPage="10">
					<vu:column field="code" />
					<vu:column field="title" />
					<vu:column field="dateCreated" />
					<vu:column field="dateClosed" />
					<vu:column name="actions" label="Actions" >
						<vu:include-data object="closedTickets" field="ticketId" />
						<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/maintenance/ticket/}'+props.row.ticketId|"></q-btn>
					</vu:column>
				</vu:table>
			</vu:block>
		</section>
	</body>
</html>