<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="http://www.morphbit.com/thymeleaf/component" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/mmcDetailNavLayout}">
<head>
<title>Equipment Information</title>
<script th:src="@{/vertigo-ui/static/js/v-components/v-comments.js}"></script>
</head>
<body>
	<section layout:fragment="content-nav">
		<q-item tag="a" href="#health">Health Condition</q-item>
		<q-item tag="a" href="#general">General Information</q-item>
		<q-item tag="a" href="#financial">Financial value</q-item>
	</section>
	<section>
		<div layout:fragment="content-header-left" id="equipmentIcon">
			<div class="detailType">
				<q-icon th:name="${model.containsKey('business') ? model.business.icon : 'fas fa-rocket'}" class="detailTypeIcon q-mx-md gt-md"></q-icon>
			</div>
		</div>
		<div layout:fragment="content-header-title" id="equipmentTitle">
			<span class="text-bigger" th:text="${model.equipment.name?:'New Equipment'}"></span> <br />
			<span class="text-smaller" th:text="${model.equipment.code}"></span>
		</div>
		<div th:if="${!model.modeCreate}" layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" icon="fas fa-ban" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}" ariaLabel="Cancel"
				class="text-accent-inverted on-left" flat round size="lg" />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" :round size="lg" color="primary" icon="edit" ariaLabel="Edit" class="on-left" />
			<v-comments th:base-url="@{/api/}" concept="Equipment" th:id="${model.equipment.equipmentId}" :connected-account="vueData.connectedUser.personId"></v-comments>
		</div>
		<div th:if="${!model.modeCreate}" layout:fragment="content-header-tabs">
			<vu:button-link class="active" flat label="Information" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="Maintenance" url="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="Environment" url="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="VR View" url="@{/basemanagement/equipment/vr/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="Spare Parts" url="@{/basemanagement/equipment/spare/} + ${model.equipment.equipmentId}" />
		</div>
	</section>
	<section layout:fragment="content">
		<div id="health" class="col-md-3 col-xs-12" th:if="${!model.modeCreate}">
			<q-card class="bg-white text-center">
				<q-card-section class="indicator-title text-faded">Health</q-card-section>
				<q-card-section>
				 <q-knob th::value="${model.equipment.healthLevel}" :min="0" :max="100" color="positive" :readonly="true" show-value size="80px" :thickness="0.15"></q-knob> 
				</q-card-section>
			</q-card>
		</div>
		<div class="col-md-9 col-xs-12" th:if="${!model.modeCreate}">
			<q-card class="bg-white row justify-around items-center" style="height:100%;">
				<div class="text-center">
					<span class="indicator text-positive" th:text="${model.equipmentMaintenanceOverview.openedTickets}" /><br />
					<span class="indicator-title text-faded">Opened Tickets(s)</span>
				</div>
				<div class="text-center">
					<span class="indicator text-positive" th:text="${model.equipmentMaintenanceOverview.workOrdersInprogress}" /><br />
					<span class="indicator-title text-faded">WorkOrder(s) in progress</span>
				</div>
			</q-card>
		</div>
		<vu:block id="general" title="General Information">
			<vu:grid cols="2">
				<vu:text-field object="equipment" field="name" />
				<vu:text-field object="equipment" field="code" />
				<vu:autocomplete object="equipment" field="baseId" list="bases" labelField="name" />
				<vu:select object="equipment" field="equipmentTypeId" list="equipmentTypes" />
				<vu:select object="equipment" field="businessId" list="businesses" labelField="name" />
				<vu:date object="equipment" field="purchaseDate" />
				<vu:chips-autocomplete object="equipment" field="tags" list="tags" staticData="true" />
				<vu:text-field object="equipment" field="geoLocation" />
			</vu:grid>
		</vu:block>
		<vu:block id="financial" title="Financial value">
			<vu:grid cols="2">
				<vu:text-field object="equipment" field="equipmentValue" suffix=" €" />
				<vu:text-field object="equipment" field="rentingFee" suffix=" €" />
			</vu:grid>
		</vu:block>
		<q-page-sticky position="bottom-right"> <vu:button-submit th:if="${model.modeEdit}" size="lg" icon="save" label="Save" action="@{_save}"
			color="primary" /> <vu:button-submit th:if="${model.modeCreate}" size="lg" icon="save" label="Create" action="@{_create}" color="primary" /> </q-page-sticky>
	</section>
</body>
</html>