<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Base VR View</title>
	</head>
	
	<body>
	
		<section>
				<div layout:fragment="content-header-left" th:include="basemanagement/equipment/equipmentInformation :: #equipmentIcon"></div>
				<div layout:fragment="content-header-title" th:include="basemanagement/equipment/equipmentInformation :: #equipmentTitle"></div>
				<div layout:fragment="content-header-tabs">
					<vu:button-link flat label="Information" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Maintenance" url="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Environment" url="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}"/>
					<vu:button-link class="active" flat label="VR View" url="@{/basemanagement/equipment/vr/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Spare Parts" url="@{/basemanagement/equipment/spare/} + ${model.equipment.equipmentId}"/>		
				</div>
		</section>
		
		<section layout:fragment="content-nav">
			        <q-item tag="a" href="#rover">Rover</q-item>
			        <q-item tag="a" href="#spaceship">Spaceship</q-item>
		</section>
		
		<section layout:fragment="content" >
			<vu:block id="rover" title="Rover">
				<div class="row col justify-center">
					<iframe width="1200" height="480" title="Rover" src="https://sketchfab.com/models/edd362486ac2465888f15eab31df07b9/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
				</div>
			</vu:block>
			<vu:block id="spaceship" title="Spaceship">
				<div  class="row col justify-center">
					<iframe width="1200" height="480" title="Spaceship" src="https://sketchfab.com/models/07f41daca5264bca99c7ab461cecd70f/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
				</div>
			</vu:block>
		</section>
	</body>
</html>