<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>mars</display-name>
  <context-param>
    <param-name>boot.applicationConfiguration</param-name>
    <param-value>/boot/components/core.xml;/boot/components/services.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>io.vertigo.vega.impl.webservice.servlet.AppServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>Struts2 Filter</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Struts2 Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SetCharsetEncodingFilter</filter-name>
    <filter-class>io.vertigo.vega.impl.servlet.filter.SetCharsetEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharsetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>client-no-cache</filter-name>
    <filter-class>io.vertigo.vega.impl.servlet.filter.CacheControlFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>no-cache</param-value>
    </init-param>
    <init-param>
      <param-name>Pragma</param-name>
      <param-value>no-cache</param-value>
    </init-param>
    <init-param>
      <param-name>Expires</param-name>
      <param-value>-1</param-value>
    </init-param>
    <init-param>
      <param-name>url-exclude-pattern</param-name>
      <param-value>/static/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>client-no-cache</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>client-24h-cache</filter-name>
    <filter-class>io.vertigo.vega.impl.servlet.filter.CacheControlFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=86400, public</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>client-24h-cache</filter-name>
    <url-pattern>/static/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
