<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Supplier' search</title>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-facets.js}"></script>
	</head>
	
	<body>
		<section layout:fragment="content" >	
			<vu:search resultKey="suppliers" searchUrl="@{/catalog/suppliers/_search}" collectionComponentId="suppliersTable">
				<div class="row q-col-gutter-md">
					<div class="text-h6 self-center" style="flex-basis: 300px;">{{vueData.suppliers_totalcount}} Suppliers</div>
					<div class="col">
						<vu:include-data-primitive key="criteria"/>
						<q-search inverted-light color="white" icon="search" placeholder="Type, Name..." v-model="vueData.criteria" @input="search('suppliers')"></q-search>
					</div>
					<div class="col-break"></div>
					<div class="gt-md" style="flex-basis: 300px;">
						<vu:facets resultKey="suppliers" />
					</div>
					<div class="col">
						<vu:table list="suppliers_list" componentId="suppliersTable" sortUrl="${searchUrl}" color="primary"
						 tr_class="nav">
							<vu:column field="nom" />
							<vu:column field="denomination"/>
							<vu:column field="activitePrincipale" />
							<vu:column field="trancheEffectifs" label="Workforce range" />							
						</vu:table>
					</div>
				</div>
			</vu:search>
		</section>
	</body>
</html>