<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}">
  
  	<head>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-scroll-spy.js}"></script>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-minify.js}"></script>
	</head>
	
  	<section layout:fragment="page-container">
	 	<section th:replace="~{templates/mmcDetailLayout::detailHeader}" />
		
		<q-page padding class="row col-12 q-gutter-md">
			<div class="col-2 gt-md">
				<nav v-scroll-spy="{offset:60+46, padding:20}">
				    <q-list link class="column items-stretch" style="height:100%">
				    	<section layout:fragment="content-nav"></section>
				    </q-list>
		        </nav>
	        </div>
			<div class="col content-body">
				<vu:form>
					<vu:messages/>
					<section layout:fragment="content" class="row q-col-gutter-md"></section>
	 			</vu:form>
	 		</div>
		</q-page>
	</section>
</html>