<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}">
  
  	<head>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-scroll-spy.js}"></script>
	</head>
	
  	<section layout:fragment="page-container">
	 	<section class="col-12">
		 	<div class="row justify-between items-center bg-secondary text-white header-content">
				<div layout:fragment="content-header-left"></div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="col column">				
					<div class="row col justify-between">
						<div class="detailTitle q-pa-md self-center" layout:fragment="content-header-title"></div>
						<div class="row self-center">
							<vu:form>
								<div class="primary" layout:fragment="content-header-actions"></div>
							</vu:form>
						</div>
					</div>
					<div class="row bg-tertiary items-center header-tabs" layout:fragment="content-header-tabs"></div>
				</div>
			</div>		
		</section>
		<q-page class="row col-12 layout-padding">
			<div class="col content-body">
	 			<section layout:fragment="content"></section>
	 		</div>
		</q-page>
	</section>
</html>