<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
  	<link rel="stylesheet" th:href="@{/static/css/mars.css}"/>
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
   	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script> 
	<script th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/vue-shortkey@3.1.7/dist/index.js}"></script>
	<script type="text/javascript">
		Vue.use(VueShortkey);
	</script>
	
	<script th:src="@{/vertigo-ui/static/js/v-components/v-notifications.js}"></script>
   	<script th:src="@{/static/js/mars.js}"></script>
   	
   	<link  th:href="@{/static/chatbot/chatbot.css}" rel="stylesheet"/>
   	<script th:src="@{/vertigo-ui/static/js/v-components/v-chatbot.js}"></script>
   	<script th:src="@{/vertigo-ui/static/js/v-components/v-commands.js}"></script>
   	<script th:src="@{/vertigo-ui/static/js/v-components/v-handles.js}"></script>
</head>

<body class="mat desktop no-touch platform-mat">

	<vu:page>
	
      <q-layout view="hHh LpR fff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-header elevated>
				<q-toolbar>
					<div class="row items-center">
						<q-btn flat round dense class="lt-lg"
						th:with="mini=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('mini', false)}"
						@click="$refs.menuDrawer.toggle()" icon="menu" aria-label="Toggle menu on left side"></q-btn>
						<img th:src="@{/static/img/logo MMC white v0.1.png}" height="40px" class="gt-md" alt="logo mmc"/>
						<q-toolbar-title class="gt-md">
								<div>Command Center</div>
								<div class="text-subtitle2">Observe, Orient, Decide and Act</div>
						</q-toolbar-title>
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="col q-mx-xl">
						 <v-commands class="gt-md" v-if="$q.platform.is.desktop" th:base-url="@{/}" ></v-commands> 
					</div>
					<div>
						<v-notifications th:base-url="@{/api/}" :type-icon-map="notificationTypes()" ></v-notifications>
						<q-btn flat icon-right="arrow_drop_down" class="on-left gt-md">
							<vu:include-data object="connectedUser" field="personId"/>
							<img th::src="|'@{/api/x/accounts/api/}'+vueData.connectedUser.personId+'/photo'|" class="avatar" alt="user avatar"/>
							<div class="on-right"><span th:text="${model.vContext['connectedUser']['firstName']+' '+model.vContext['connectedUser']['lastName']}"></span><br/><small><span th:text="${model.vContext['activeProfile']}"></span></small></div>
							<q-menu fit>
							  <q-list>
							  	<q-item-label header dense>Change current profil</q-item-label>
							  	<q-item dense>
							    	<q-btn type="a" flat label="Viewer" th:href="@{/userProfil/_changeProfile?profile=Viewer}" />
							    </q-item>
							    <q-item dense>
							    	<q-btn type="a" flat label="Editor" th:href="@{/userProfil/_changeProfile?profile=Editor}" />
							    </q-item>
							    <q-item dense>
							    	<q-btn type="a" flat label="Administrator" th:href="@{/userProfil/_changeProfile?profile=Administrator}" />
							    </q-item>
							    <q-separator></q-separator>
							  	<q-item>
							    	<q-item-section><q-btn icon="edit" type="a" flat label="Edit my data" th::href="|'@{/hr/person/}'+vueData.connectedUser.personId|"/></q-item-section>
							    </q-item>
							  	<q-separator></q-separator>
							    <q-item>
							    	<q-item-section><q-btn type="a" outline label="Disconnect" th:href="@{/login/_logout}" /></q-item-section>
							    </q-item>
							  </q-list>
							 </q-menu>
						</q-btn>
						<q-btn flat round dense icon="apps" size="lg" aria-label="Toggle apps">
							<q-menu>
								<div class="row q-col-gutter-sm q-pa-md" style="width: 300px;">
									<div class="col-6" >
										<q-btn type="a" href="https://klee-digital-factory.slack.com"  target="_blank" class="full-width" style="height:68px">
											<div class="column items-center col-12">
												<div class="col-12"><q-icon size="36px"name="fab fa-slack" ></q-icon></div>
												<div class="col-12">Slack</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://kleeacademy.360learning.com/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_360Learning.png}" width="100%" alt="logo 360 learning"></img></div>
												<div class="col-12">Academy</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://trello.com/b/fKf74LSW/mars-maintenance" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><q-icon size="36px"name="fab fa-trello" color="blue" ></q-icon></div>
												<div class="col-12">Trello</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
									</div>
									<div class="col-6" >
										<q-btn type="a" th:href="${model.apiManagementUrl}" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_WSO2.png}" width="100%" alt="logo WSO2"></img></div>
												<div class="col-12">API</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://klee.opendatasoft.com/explore/dataset/dt-tests/information/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_ods.png}" width="100%" alt="logo opendatasoft"></img></div>
												<div class="col-12">OpenData</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://aframe.io/examples/showcase/a-blast/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_aframe.png}" height="36px" alt="logo A-Frame"></img></div>
												<div class="col-12">VR</div>
											</div>
										</q-btn>
									</div>
								</div>
							</q-menu>
						</q-btn>
					</div>
				</q-toolbar>
			</q-header>
        	<!-- END HEADER-->
        			
  			
  			<q-drawer
  			  content-class="bg-white text-primary"
		      side="left"
		      ref="menuDrawer"
		      show-if-above
		      elevated
		      :mini="function() {var miniMenu = this.$cookies.get('miniMenu', true) === 'true';componentStates.navDrawer.mini = miniMenu;return miniMenu;}()"
		    >
		      
			    <nav class="text-no-wrap">
			      <q-list :class="{'dense-list-header':!componentStates.navDrawer.mini}" style="height:100%">
			      	<q-item-label header>Home</q-item-label>
			        <q-item tag="a" th:href="@{/home/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-globe-europe"></q-icon>
			          </q-item-section>
			          <q-item-section>Planetary Status</q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			       	<q-item-label header>Base managment</q-item-label>
			        <q-item tag="a" th:href="@{/basemanagement/bases/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-dice-d20"></q-icon>
			          </q-item-section>
			          <q-item-section>Bases</q-item-section>
			          <q-item-section side><q-chip color="primary" text-color="white" dense square class="q-mr-xs">VR</q-chip></q-item-section>
			        </q-item>
			        <q-item tag="a" th:href="@{/basemanagement/equipments/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-rocket"></q-icon>
			          </q-item-section>
			          <q-item-section>Equipments</q-item-section>
			          <q-item-section side>
				          <div>
				            <q-chip color="primary" text-color="white" dense square class="q-mr-xs">3D</q-chip>
				            <q-chip color="primary" text-color="white" dense square class="q-mr-xs">VR</q-chip>
				          </div>
			          </q-item-section>
			        </q-item>
			       	<q-separator></q-separator>
			       	<q-item-label header>People</q-item-label>
			        <q-item tag="a" th:href="@{/hr/persons/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-user-friends"></q-icon>
			          </q-item-section>
			          <q-item-section>
			           <q-item-label>Teams</q-item-label>
			           <q-item-label caption>Base managers, Workers,...</q-item-label>
			          </q-item-section>
			        </q-item>
			        <q-item tag="a" th:href="@{/academy/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-graduation-cap"></q-icon>
			          </q-item-section>
			          <q-item-section>Academy</q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			        <q-item-label header>Catalog</q-item-label>
			       <q-item tag="a" th:href="@{/catalog/suppliers/}">
			         <q-item-section avatar>
			          	<q-icon name="fas fa-building"></q-icon>
			          </q-item-section>
			          <q-item-section>Suppliers</q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			       	<q-item-label header>Maintenance</q-item-label>
			       <q-item tag="a" th:href="@{/maintenance/dashboard/}">
			         <q-item-section avatar>
			          	<q-icon name="fas fa-tools"></q-icon>
			          </q-item-section>
			          <q-item-section>
			          	<q-item-label>Maintenance</q-item-label>
			          	<q-item-label caption>Tickets, Work Orders</q-item-label>
			          </q-item-section>
			        </q-item>
			        <q-item tag="a" th:href="@{/jobs/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-tasks"></q-icon>
			          </q-item-section>
			          <q-item-section>Jobs</q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			       	<q-item-label header>Data Hub</q-item-label>
			        <q-item tag="a" th:href="@{/share/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-share-alt"></q-icon>
			          </q-item-section>
			          <q-item-section>Share</q-item-section>
			          <q-item-section side>
				          <div>
				            <q-chip color="primary" text-color="white" dense square class="q-mr-xs">API</q-chip>
				            <q-chip color="primary" text-color="white" dense square class="q-mr-xs">OpenData</q-chip>
				          </div>
			          </q-item-section>
			        </q-item>
			        <q-item tag="a" th:href="@{/environment/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-cloud-sun"></q-icon>
			          </q-item-section>
			          <q-item-section>Environment</q-item-section>
			          <q-item-section side><q-chip color="primary" text-color="white" dense square class="q-mr-xs">IoT</q-chip></q-item-section>
			        </q-item>
			        <q-item tag="a" th:href="@{/dashboard/modules/vertigo-ui}" target="_blank">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-chart-bar"></q-icon>
			          </q-item-section>
			          <q-item-section>Analytics</q-item-section>
			        </q-item>
			         <q-separator></q-separator>
			       	<q-item-label header>Security</q-item-label>
			        <q-item tag="a" th:href="@{/digitaltrust/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-award"></q-icon>
			          </q-item-section>
			          <q-item-section>Digital Trust</q-item-section>
			          <q-item-section side><q-chip color="primary" text-color="white" dense square class="q-mr-xs">Blockchain</q-chip></q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			        <q-item tag="a" th:href="@{/extensionsStore/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-puzzle-piece"></q-icon>
			          </q-item-section>
			          <q-item-section>Extensions Store</q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			        <q-item tag="a" th:href="@{/spiders/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-spider"></q-icon>
			          </q-item-section>
			          <q-item-section>Spiders</q-item-section>
			        </q-item>
			        <q-separator></q-separator>
			        <q-item v-if="componentStates.navDrawer.mini"
							@click.native="componentStates.navDrawer.mini = false; $cookies.set('miniMenu', false)" title="Expand menu">
							<q-item-section avatar>
			          			<q-icon name="arrow_right"></q-icon>
			          		</q-item-section>
					</q-item>
					 <q-item v-if="!componentStates.navDrawer.mini"
							@click.native="componentStates.navDrawer.mini = true; $cookies.set('miniMenu', true)" title="Minify menu">
						<q-item-section side>
			          		<q-icon name="arrow_left"></q-icon>
			          	</q-item-section>
					</q-item>
			        </q-list>
			    </nav>
		    </q-drawer>
		    
			<q-page-container class="row justify-center q-pb-lg" >
				<section class="col container-bottom-padding" layout:fragment="page-container"></section>
			</q-page-container>
			
			
			<q-page-sticky position="bottom-left" :offset="[18,0]" class="poweredBy">
				<div>Powered by</div>
			    <img th:src="@{/static/img/logo-digital-factory-P3-petit.png}"  /> 
			</q-page-sticky>
			<div class="fixed-bottom-right version-watermark">
    			<div class="row items-center">
					<img th:src="@{/static/img/logo MMC grey v0.1.png}" height="30px" class="on-left" alt="logo MMC"/> v1.0.0 &copy; 2153 Mars Mining Corp.
				</div>
  			</div>
  			
  			<th:block th:if="${model.modeReadOnly}" th:with="botDrawer=${model.vContext['componentStates'].addComponentState('botDrawer').addPrimitive('open', false)}" >
  				<q-page-sticky position="bottom-right" :offset="[-16,36]" class="poweredBy">
				    <q-btn style="background: #E82A2A" round size="lg" @click="componentStates.botDrawer.open = !componentStates.botDrawer.open">
				    	<img th:src="@{/static/chatbot/images/avatar/avatar_bar.png}" style="width: 60px; height: 60px" alt="avatar chatbot alan"/>
				    </q-btn>
				</q-page-sticky>
	  			<q-drawer :value="componentStates.botDrawer.open" ref="botDrawer" side="right" @on-layout="function(state) {componentStates.botDrawer.open = componentStates.botDrawer.open && state; if (!componentStates.botDrawer.open) {$refs.botDrawer.hide()} }" >
	  				<v-chatbot v-if="componentStates.botDrawer.open" class="column chatbot-container" th:bot-avatar="@{/static/chatbot/images/avatar/avatar_chat.png}" bot-name="mars-bot" th:bot-url="${model.chatbotUrl}"></v-chatbot>
	  			</q-drawer>
  			</th:block>
  			<div v-if="$q.platform.is.desktop" v-shortkey.once="['alt', 'q']" @shortkey="$refs.quicknav.show()">
  				<q-dialog ref="quicknav" >
  					<q-card style="width: 66%; max-width: 66%; height:50%;">
  						<q-card-section>
		  					<v-handles th:base-url="@{/}"></v-handles>
						</q-card-section>
					</q-card>
  				</q-dialog>
  			</div>
		</q-layout>
		
	</vu:page>
	<div layout:fragment="javascript-footer">
	</div>
			
</body>
</html>