<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
  	<link rel="stylesheet" th:href="@{/static/css/mars.css}"/>
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
    
   	<script th:src="@{/static/js/mars.js}"></script>
</head>

<body class="mat desktop no-touch platform-mat">
	<vu:page>
      <q-layout view="hHh LpR fff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-layout-header class="items-center">
				<q-toolbar inverted class="justify-between">
					<div class="row">
						<q-btn flat round dense class="lt-lg"
						th:with="showLeft=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('showLeft', true)}"
						@click="componentStates.navDrawer.showLeft = !componentStates.navDrawer.showLeft" icon="menu" aria-label="Toggle menu on left side"></q-btn>
						<div class="gt-md"><img th:src="@{/static/img/logo MMC v0.1.png}" height="40px"/></div>
						<q-toolbar-title  class="gt-md">
								MMC Managment 
								<span slot="subtitle">Mars Mining Company</span>
						</q-toolbar-title>
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div>
						<input type="text"/>
						<i aria-hidden="true" class="q-icon material-icons">search</i>
					</div>
					<div>
						<q-btn round dense color="primary" icon="mail" class="on-left" >
							<q-chip floating color="red">22</q-chip>
						</q-btn>
						<q-btn icon-right="arrow_drop_down"  class="on-left gt-md">
							<img th:src="@{/static/img/woman.png}" class="avatar"/>
							<div  class="on-right">Daniel Johnson<br/><small>Administrator</small></div>
						</q-btn>
						<q-btn flat round dense icon="apps" aria-label="Toggle apps">
							<q-popover>
								<div class="row gutter-sm q-pa-md" style="width: 300px;">
									<div class="col-6" >
										<q-btn type="a" href="https://klee-digital-factory.slack.com"  target="new" class="full-width" style="height:68px">
											<div class="column items-center col-12">
												<div class="col-12"><q-icon size="36px"name="fab fa-slack" ></q-icon></div>
												<div class="col-12">Slack</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://kleeacademy.360learning.com/" target="new" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_360Learning.png}" width="100%"></img></div>
												<div class="col-12">Academy</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://trello.com/b/keaTewMG/conception-mars" target="new" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><q-icon size="36px"name="fab fa-trello" color="blue" ></q-icon></div>
												<div class="col-12">Trello</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://mars.dev.klee.lan.net:9443/store/" target="new" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_WSO2.png}" width="100%"></img></div>
												<div class="col-12">API</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://klee.opendatasoft.com/explore/dataset/dt-tests/information/" target="new" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_ods.png}" width="100%"></img></div>
												<div class="col-12">OpenData</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://aframe.io/examples/showcase/a-blast/" target="new" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_aframe.png}" height="36px"></img></div>
												<div class="col-12">VR</div>
											</div>
										</q-btn>
									</div>
								</div>
							</q-popover>
						</q-btn>
					</div>
				</q-toolbar>
			</q-layout-header>
        	<!-- END HEADER-->
        				
			<q-layout-footer>
    			<q-toolbar  color="secondary" text-color="primary" class="justify-between gt-sm">
					<div class="row col">
					<div class="on-right gt-lg">
						Connected since 
						<div class="q-chip row no-wrap inline items-center q-chip-square bg-primary text-white">
						<div class="q-chip-main ellipsis">2</div></div> hours
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="on-right">
						Base managers connected to system : 
						<div class="q-chip row no-wrap inline items-center q-chip-square bg-primary text-white">
						<div class="q-chip-main ellipsis">5</div></div>
					</div>
					</div>
					<div class="row col justify-end items-center">
						<img th:src="@{/static/img/logo MMC grey v0.1.png}" height="30px" class="on-left"/>
						&copy; 2153 Mars Mining Corp.
					</div>
				</q-toolbar>
  			</q-layout-footer>
  			
  			<q-layout-drawer
  			  content-class="bg-primary text-white"
		      side="left"
		      v-model="componentStates.navDrawer.showLeft">
		      
		      <q-list link style="height:100%">
		      <nav class="text-no-wrap">
		        <q-item tag="a" th:href="@{/home/}">
		          <q-item-side icon="fas fa-globe-asia "></q-item-side>
		          <q-item-main label="Planetary Status"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/basemanagement/bases/}">
		          <q-item-side icon="fas fa-store-alt"></q-item-side>
		          <q-item-main label="Managed Bases"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/hr/persons/}">
		          <q-item-side icon="fas fa-user-friends"></q-item-side>
		          <q-item-main label="Personnel" sublabel="Base managers, Workers,..."></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/maintenance/dashboard/}">
		          <q-item-side icon="fas fa-exclamation"></q-item-side>
		          <q-item-main label="Maintenance" sublabel="Tickets, Work Orders"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/opendata/opendatasets/}">
		          <q-item-side icon="fas fa-box-open"></q-item-side>
		          <q-item-main label="Open Data"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/basemanagement/equipments/}">
		          <q-item-side icon="fas fa-cubes"></q-item-side>
		          <q-item-main label="Equipments"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-thermometer-empty"></q-item-side>
		          <q-item-main label="Environment Monitoring" ></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-chart-pie" ></q-item-side>
		          <q-item-main label="My Analytics" ></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/jobs/executionSummaries/}">
		          <q-item-side icon="schedule" ></q-item-side>
		          <q-item-main label="Jobs" ></q-item-main>
		        </q-item>
		        </nav>
		        </q-list>
		    </q-layout-drawer>
		    
			<q-page-container class="row justify-center  q-pb-lg" >
				<section class="col container-bottom-padding" layout:fragment="page-container"></section>
			</q-page-container>
		</q-layout>
	</vu:page>
	<div layout:fragment="footer">
	</div>
</body>
</html>