<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}">
  
	<section layout:fragment="page-container">
	 	<q-page class="row col-12 layout-padding">
	 		<q-parallax th:src="@{static/img/cms/face-id-android.jpg}" :height="300">
			  <h1>Title</h1>
			</q-parallax>
	 		<div class="q-jumbotron q-jumbotron-dark">
			 	<div class="q-display-3"">Hello, world!</div>
			 	<div class="q-subheading">
			      This is a simple hero unit, a simple jumbotron-style component for calling extra
			      attention to featured content or information.
	    		</div>
	    		<hr class="q-hr q-my-lg"/>
	    		<div class="q-title q-mb-md">Check out Quasar Framework components.</div>
	    		<img src th:="@{logoSaagie.png}"/>
    		</div>
		</q-page>		
	</section>
</html>