/******** CSS SPECIFIQUE A CERTAINES PAGES *******/
:root {
  	--q-color-body-background: #f5f5f5;
	--q-color-body-color: #0c0c0c;
	/*--q-color-primary: #027be3;
	--q-color-secondary:#fad9c2;*/
	--q-color-primary: #027be3;
	--q-color-primary-invert: rgba(255, 255, 255, 0.9);
	--q-color-secondary:#00BCD4;
	--q-color-secondary-invert: rgba(255, 255, 255, 0.9);
	--q-color-tertiary:	#B2EBF2;
	--q-color-tertiary-invert:	rgba(60, 60, 60, 0.8);
	
	
	/*--q-color-primary:#2196F3;
	--q-color-secondary:#64B5F6;
	--q-color-tertiary:	#BBDEFB;*/
	
	--q-color-positive:	#21BA45;
	--q-color-negative:	#DB2828;
	--q-color-info:		#31CCEC;	
	--q-color-warning:	#F2C037;  
}

body {
  background: white !important;
  background: var(--q-color-body-background) !important;
  color: var(--q-color-body-color) !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}

.container-bottom-padding {
	padding-bottom: 64px;
}

body.login {
	background: url(../img/bcf60b99d4_121619_mars-bfrs.jpg) !important;
}

.login #page {
	height:100vh;
}

.login .title {
	position: absolute;
    top: 0;
}

.login .title img {
	width:90vw;
	max-width:700px;
}
.login form {
	background: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
       		box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
	padding : 20px;
	display:inline-block;
	margin: auto;
	min-width: 400px;
}

.content-body {
	margin-top: -8px; /* mais d'ou vient cette marge ???*/
}

.q-list {
	border: none;
}

.q-item-side {
    text-align: center;
}

.mini br {
  display: none;
}

.mini br + span:before { /* means : all span juste after a br, are prefixed with ' - ' */
	content : '\00a0-\00a0';
	/*font-size:1.5em;*/
}

.dense-list-header .q-list-header+.q-item
{ /*q-item after a q-list-header is nearer*/
   margin-top: -12px;
}

.detailType, .detailType img {
	height: 140px;
	border-radius: 50%;
}
.detailImg, .detailImg img {
	height: 100%;
}

.detailTypeIcon {
	height: 120px;
    width: 120px;
    font-size: 70px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 4px solid black;
}
.detailType {
    line-height: 150px;
}
.mini .detailTypeIcon {
	height: 40px;
    width: 40px;
    font-size: 23px;
    border-width: 2px;
}
.mini .detailType {
    line-height: 50px;
}
.image-gallery .q-carousel-quick-nav,
.image-gallery .q-carousel-left-arrow,
.image-gallery .q-carousel-right-arrow  {
	background: rgba(255,255,255,.3);
}

.image-gallery .q-carousel-slide {
	text-align:center;
	padding: 0px;
}

.image-gallery img {
	height:296px;
}

.nav {
	cursor: pointer;
}

nav .q-list, .nav .q-list {
	padding: 0;
}


.q-card .nav>div:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

nav a, .nav a {
	text-decoration: none;	
}

nav.scroll-spy-nav a {
	border-left-width:3px;
	border-left-style:solid;
	border-left-color:lightgrey;		
}
.q-list-link .q-item:hover {
	background: lightgrey;
}


nav.scroll-spy-nav a.q-item.active {
	border-left-color:var(--q-color-primary);	
	color: var(--q-color-primary) !important;
}

nav a.q-item, .nav a.q_item {
	color: grey;	
}

.q-list-link> .q-item.no-hoverable {
	cursor:default;	
}

.q-list-link> .q-item.no-hoverable:hover {
	background: none;
}

.q-page-sticky.fixed-bottom-right {
	margin: 50px 3vw;
}

.marsCard .q-card {
	width:100%;	
	/*transition: translate .2s, box-shadow .2s, -webkit-box-shadow .2s;*/
}

.marsCard .q-card img {
    height: 250px;
    object-fit: cover;    
}


.marsCard:hover .q-card  {
    transform: translate(0,-5px);
    -webkit-box-shadow: 3px 7px 5px rgba(0,0,0,.2), 1px 3px 2px rgba(0,0,0,.14), 0px 1px 1px -2px rgba(0,0,0,.12);
    		box-shadow: 3px 7px 5px rgba(0,0,0,.2), 1px 3px 2px rgba(0,0,0,.14), 0px 1px 1px -2px rgba(0,0,0,.12);
}

.q-table tr:hover td {
    overflow: visible; 
    white-space: normal;
    /*height:auto;  /* just added this line */
}


.q-table td, .q-table th {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 1500px) {
.row  .marsCard {
	width: 25%;
}}

.fullHeight {
	height:100%;
}

.q-title {
	color: var(--q-color-primary);
	text-transform:uppercase;
}

.small-caps {
	font-variant: small-caps;
}

.header-content {
	height: 160px;
	position: relative;
    z-index: 100;
}

@media (min-width: 1500px) {
.header-content {
	height: 150px;
}}

.mini .header-content {
	height: 50px;
}

.header-content > div {
	height: 100%;
}

.header-tabs a.active {
	color: black;
}

.header-tabs a.active .q-btn-inner {
	padding-top: 3px;
	border-bottom: 3px solid black;
}

.header-tabs {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-bigger{
	font-size: 170%;
}

.text-smaller{
	font-size: 80%;
}


.image-gallery-modal .modal-body {
	max-height: 80%
}

/** Home **/
.indicator {
	font-size: 3em;
}

.indicator-title {
	font-size: 1.5em;
	font-variant: small-caps;
}


/**Orchestra***/

.execution-summary > div {
	    width: 32px;
	    margin: 5px 10px;
	    text-align: center;
}

.execution-summary span {
	vertical-align: middle;
    line-height: 32px;
}

.version-watermark {
	color: lightgrey;
	margin: 10px 20px;
}
.version-watermark img {
	opacity: 0.3;
  	filter: alpha(opacity=30); /* For IE8 and earlier */
}
.poweredBy {
	font-style: italic;
}

.poweredBy img {
	width:40%;
}

.q-stepper.noContent > .q-stepper-step > .q-stepper-step-content {
	display: none;
} 

.vertical-separator {
	border-right: 1px solid #e5e5e5;
    width: 1px;
    margin: -0.2em 10px;
    height: 100%;
}

/**
tr th.dom_id:nth-child(1){
 display:none;
}*/

