/******** CSS SPECIFIQUE A CERTAINES PAGES *******/
:root {
  	--q-color-body-background: #fdf1e9;
	--q-color-body-color: #f3a875;
	--q-color-primary:	#ed7d31;
	--q-color-secondary:#fad9c2;
	--q-color-tertiary:	#ffe8cb;
	--q-color-positive:	#21BA45;
	--q-color-negative:	#DB2828;
	--q-color-info:		#31CCEC;	
	--q-color-warning:	#F2C037;  
}

body {
  background: white !important;
  background: var(--q-color-body-background) !important;
  color: var(--q-color-body-color) !important;
}



.q-item-side {
  color: currentColor !important;
}

.q-item {
  color: currentColor !important;
}

.q-item-sublabel {
  color: currentColor !important;
}

.detailHeader {
	margin: -2.5rem -3.5rem 0px;
}
.detailHeader > div {
	//height: 140px;
}

.moreAction .q-btn-dropdown-arrow {
	//display:none;
}

.detailType, .detailType img {
	height: 140px;
	border-radius: 50%;
}

.detailImg, .detailImg img {
	height: 150px;
}



nav a {
	text-decoration: none;	
}

.q-item-side {
	text-align: center;	
}

a.q-item {
	color: #737373;	
}

