<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Maintenance Dashboard</title>		
	</head>
	
	<body>
	
		<section>
			<div layout:fragment="content-header-title">
				
			</div>
			<div layout:fragment="content-header-actions">
			</div>
		</section>
		
		<section layout:fragment="page-container">
	 	<q-page padding class="row col-12 q-gutter-md">
			<div class="col content-body ">
	 			<div class="row q-col-gutter-md">
					<div class="col-12">
						<q-card class="bg-white row justify-around items-center" style="height:100%;">
							<div class="text-center"> <span class="indicator text-positive" th:text="12" /><br/><span class="indicator-title text-faded">Closed ticket(s) this week</span></div>
							<div class="text-center"> <span class="indicator text-positive" th:text="15" /><br/><span class="indicator-title text-faded">Work order(s) in progress</span></div>
							<div class="text-center"> <span class="indicator text-positive" th:text="3" /> day(s)<br/><span class="indicator-title text-faded">Monthly work orders' delay</span></div>
							<div class="text-center"> <span class="indicator text-positive" th:text="2" /> day(s) <q-icon size="20px" color="positive" name="fas fa-arrow-up" ></q-icon><br/><span class="indicator-title text-faded">Weekly work orders' delay</span></div>
						</q-card>
					</div>
					<vu:table title="Lastest created tickets" list="lastTickets" componentId="lastTickets" rowsPerPage="5"
					tr_@click.native="|goTo('@{/maintenance/ticket/}'+props.row.ticketId)|" tr_class="nav">
						<vu:include-data object="lastTickets" field="ticketId" />
						<vu:column field="code" />
						<vu:column field="title" />
						<vu:column field="dateCreated" />
						<vu:column name="status" label="Status" >
							<vu:field-read field="ticketStatusId" list="ticketStatus" />
						</vu:column>
					</vu:table>
	 			</div>
		</q-page>
	</section>
	
	</body>
</html>