<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>
	<head>
		<title>Person detail</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<vu:form>
				<vu:grid cols="2">
					<vu:text-field object="person" field="firstName"/>
					<vu:text-field object="person" field="lastName" />
					<vu:text-field object="person" field="email" />
					<vu:grid-cell>
						<vu:button-submit th:if="${model.modeReadOnly}" label="Edit" action="@{_edit}" color="primary"/>
						<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{_save}" color="primary" />
						<vu:button-submit th:if="${model.modeCreate}" label="Create" action="@{_create}" color="primary"/>
					</vu:grid-cell>
				</vu:grid>
			</vu:form>
		</section>
	</body>
</html>