<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>
	<head>
		<title>Persons</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<vu:table list="persons" componentId="personsTable" sortUrl="@{/humanresources/persons/_sort}">
				<vu:column field="personId" />
				<vu:column field="firstName" sortable="true" />
				<vu:column field="lastName" sortable="true" />
				<vu:column field="email" sortable="true" />
				<vu:column name="actions" label="Actions" sortable="true" >
					<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/humanresources/person/detail/}?personId='+props.row.personId|"></q-btn>
				</vu:column>
			</vu:table>
			<q-btn label="Add" type="a" color="primary" th:href="@{/humanresources/person/detail/}"></q-btn>
		</section>
	</body>
</html>