<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="http://www.morphbit.com/thymeleaf/component">
<vu:page title="Movie Detail" >
	<div class="row justify-center">
		<div class="col-6" >
			<vu:form>		
				<vu:grid cols="3">
					<vu:text-field object="movie" field="movId"/>
					<vu:text-field object="movie" field="title" />
					<vu:text-field object="movie" field="year" />
					<vu:grid-cell>
						<vu:button-submit th:if="${!model.modeEdit}" label="Edit" action="@{/movie/_edit}" color="primary"/>
						<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{/movie/_save}" color="primary" />
					</vu:grid-cell>
				</vu:grid>
			</vu:form>
		</div>	
	</div>
</vu:page>
</html>