<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>

<head>
	<title>Movie Detail</title>
</head>

<body>
	<section layout:fragment="content">
			<vu:form>		
				<vu:grid cols="3">
					<vu:text-field object="movie" field="movId"/>
					<vu:text-field object="movie" field="title" />
					<vu:text-field object="movie" field="year" />
					<vu:grid-cell>
						<vu:button-submit th:if="${!model.modeEdit}" label="Edit" action="@{/movie/_edit}" color="primary"/>
						<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{/movie/_save}" color="primary" />
					</vu:grid-cell>
				</vu:grid>
			</vu:form>
	</section>
</body>
</html>