<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Access Control</title>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="row col-12 layout-padding">
		 		<q-parallax th:src="@{/static/img/cms/face-id-android.jpg}" :height="300">
				  <h1>Access Control</h1>
				</q-parallax>
		 		<div class="q-jumbotron q-jumbotron-dark">
				 	<div class="text-h2">Hello, world!</div>
				 	<div class="text-subtitle1">
				      This is a simple hero unit, a simple jumbotron-style component for calling extra
				      attention to featured content or information.
		    		</div>
		    		<hr class="q-hr q-my-lg"/>
		    		<div class="text-h6 q-mb-md">Check out Quasar Framework components.</div>
		    		<img  th:src="@{/static/img/cms/logoSaagie.png}"/>
	    		</div>
			</q-page>		
		</section>
	</body>
</html>