<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Digital Trust</title>
		
		<style>
		#ethVideo {
		  max-width: 100%; 
		}
		.smallEthLogo{
		  max-width: 20%; 
		  max-height: 20%;
		}
		</style>
		
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="row col-12 layout-padding">

				<q-parallax style="height: 130px;">
					<h1>Digital Trust</h1>
				</q-parallax>
				
		 		<q-parallax style="height: 400px;">
				  <video autoplay muted loop id="ethVideo">
  						<source th:src="@{/static/img/cms/eth.mp4}" type="video/mp4">
					</video>
				</q-parallax>
		 		
		 		<q-jumbotron class="col-11 q-my-xl">
		    		<div class="q-title q-mb-md">Blockchain Ethereum.</div>
	    			<img class="smallEthLogo" th:src="@{/static/img/cms/logoEthereum.png}"/>
					<p>Digital trust is a key factor in the digital world. 
					<br/>A ledger system can handle trust between actors without the need of a third party.</p>

					<p>The Ethereum blockchain has been choosen to deliver this trust system.<br>
						<ul>
							<li>Decentralised: Everyone has a copy and can check the authenticity of the copy</li>
							<li>Unalterable: A written message can't be modified</li>
							<li>Secured: Cryptography is used to ensure the technical reliability of the system</li>
							
						</ul>							
					</p>
					<p>
					   This ledger can be used to provide a trust mecanism inside an application, a customer information system, or between multiple actors.<br>
					</p>
					
	    		</q-jumbotron>
	    		<hr class="q-hr q-my-lg"/>
	    		
	    		<div class="row justify-center">
	    			<q-btn type="a" href="http://mars.dev.klee.lan.net:4000" color="primary" class="q-py-sm q-px-xl " label="View Blockchain Explorer" target="_blank"></q-btn>
	    		</div>
			</q-page>
		</section>
	</body>
</html>