<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
  	<link rel="stylesheet" th:href="@{/static/css/mars.css}"/>
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
    <title>Vertigo - Mars</title>
   	<script th:src="@{/static/js/mars.js}"></script>
</head>

<body class="mat desktop no-touch platform-mat login" >
	<vu:page>
	<div id="page" class="column justify-center items-center" v-cloak>
      	<div class="title"><h2><img th:src="@{/static/img/titleMarsBaseNetwork.png}" alt="Home mars network"></h2></div>
      	<vu:form>
      	<div class="q-gutter-y-md">
	    		<vu:include-data-primitive key="login" />
	      		<vu:include-data-primitive key="password" />
	      			<vu:messages/>
					<q-field label="Login" orientation="vertical">
						<q-input v-model="vueData.login" name="login"></q-input>
					</q-field>
					<q-field label="Password" orientation="vertical">
						<q-input type="password" v-model="vueData.password" name="password"></q-input>
					</q-field>
					<div class="float-right">
						<vu:button-submit label="Login" action="@{_login}" class="bg-primary text-white" flat />
					</div>
		</div>
		</vu:form>
	</div>
	</vu:page>
</body>
</html>