<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Ticket detail</title>		
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
			<vu:include-data object="ticket" field="dateCreated" />
			<vu:include-data object="ticket" field="dateClosed" />
			<q-timeline color="secondary">
			  <q-timeline-entry v-if="vueData.ticket.ticketStatusId === 'CLOSED'" subtitle="Ticket closed" :title="vueData.ticket.dateClosed"></q-timeline-entry>
			  <q-timeline-entry subtitle="Ticket created" :title="vueData.ticket.dateCreated" ></q-timeline-entry>
			</q-timeline>
		</section>
		
		<section>
			<div layout:fragment="content-header-title">
				<span class="text-bigger" th:text="${model.modeCreate ? 'New Ticket' : model.ticket.title}"></span> 
				<br/><span class="text-smaller" th:text="${model.ticket.code}"></span>
			</div>
			<div layout:fragment="content-header-actions">
				<vu:button-submit th:if="${model.modeEdit}"   action="@{_cancel}" :round size="lg" color="primary" icon="fas fa-ban" :flat aria-label="Cancel" title="Cancel" class="on-left"  />
				<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" :round size="lg" color="primary" icon="edit" aria-label="Edit" title="Edit" class="on-left"/>
				<q-btn th:if="${!model.modeCreate}" round size="lg" color="primary" icon="add" aria-label="Add work order" title="Add work order" th:@click="|openModal('workOrderEditModal', '@{/maintenance/workorder/new}', { 'ticketId' : vueData.ticket.ticketId })|"></q-btn>
				<q-btn th:if="${!model.modeCreate}" round size="lg" color="primary" icon="fas fa-cubes" type="a" th:href="@{/basemanagement/equipment/} + ${model.ticket.equipmentId}"  aria-label="Go to equipment" title="Go to equipment" class="on-left" ></q-btn>
			</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:form>
				<div th:if="${model.modeReadOnly}" class="row q-ma-md">
					<div class="col-12">
						<vu:include-data object="ticket" field="ticketStatusId" />
						<q-stepper v-bind:value="vueData.ticket.ticketStatusId" no-header-navigation class="noContent">
							<q-step name="OPEN" title="Open"></q-step>
							<q-step name="ASSIGNED" title="Assigned"></q-step>
							<q-step name="CLOSED" title="Closed" active-icon="check"></q-step>
						</q-stepper>
					</div>
				</div>
				<vu:block title="Information">
					<vu:grid cols="2">
						<vu:text-field object="ticket" field="code" />
						<vu:text-field object="ticket" field="title" />
					</vu:grid>
				</vu:block>
				<vu:block title="Description">
					<vu:include-data object="ticket" field="description" />
					<q-editor th:v-if="${!model.modeReadOnly}" v-model="vueData.ticket.description" ></q-editor>
					<pre th:if="${model.modeReadOnly}" th:utext="${model.ticket.description}"></pre>
					<input type="hidden" name="vContext[ticket][description]" v-bind:value="vueData.ticket.description" />
				</vu:block>
				<vu:block th:if="${model.modeReadOnly}" id="workOrders" title="WorkOrders" withFab>
					<vu:include-data object="ticket" field="ticketId" />
					<vu:include-data object="workOrders" field="woId" />
					<q-btn fab color="primary" icon="add" aria-label="Add work order" title="Add work order"
					 th:@click="|openModal('workOrderEditModal', '@{/maintenance/workorder/new}', { 'ticketId' : vueData.ticket.ticketId, 'successCallback' : 'onWorkOrderSuccess' })|"></q-btn>
					<vu:table list="workOrders" componentId="workOrders" rowsPerPage="10">
						<vu:column field="name" />
						<vu:column field="dateCreated" />
						<vu:column field="dueDate" />
						<vu:column field="dateClosed" />
						<vu:column name="action" label="Actions">
							<q-btn round color="primary" icon="edit" label="View detail" th:@click="|openModal('workOrderEditModal', '@{/maintenance/workorder/}' + props.row.woId , {'successCallback' : 'onWorkOrderSuccess' })|"></q-btn>
						</vu:column>
					</vu:table>
				</vu:block>
				<q-page-sticky position="bottom-right" :offset="[48, 48]">
					<vu:button-submit th:if="${model.modeEdit}"   icon="save" label="Save" action="@{_save}" size="lg" color="primary" />
					<vu:button-submit th:if="${model.modeCreate}" icon="save" label="Create" action="@{_create}" size="lg" color="primary"/>
				</q-page-sticky>
			</vu:form>
			<vu:modal componentId="workOrderEditModal" title="Work Order" iframe_width="800" iframe_height="400"  />
		</section>
		<section layout:fragment="javscript-footer" >
			<script type="text/javascript">
				function onWorkOrderSuccess() {
					componentStates.workOrderEditModal.opened = false;
					VUi.methods.httpPostAjax("[[@{/maintenance/ticket/_reloadWorkOrders}]]", {});
				}
			</script>
		</section>
	</body>
	
</html>