<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailLayout}"
>
	<head>
		<title>Ticket detail</title>		
	</head>
	
	<body>
		<section>
			<div layout:fragment="content-header-left" >
				<div class="detailType" >
					<q-icon name="fas fa-tools" class="detailTypeIcon q-mx-md gt-md" ></q-icon>
				</div>
			</div>
			<div layout:fragment="content-header-title">				
				<span class="text-bigger" th:text="${model.modeCreate ? 'New Ticket' : model.ticket.title}"></span><span class="text-bigger"> - <vu:field-read object="ticket" field="ticketStatusId" /></span> 
				<br class="ne-mini"/><span class="text-smaller ne-mini" th:text="${model.ticket.code}"></span>
			</div>
			<div layout:fragment="content-header-actions">
				<vu:button-submit th:if="${model.modeEdit}"   action="@{_cancel}" :round size="lg" color="primary" icon="cancel" :flat aria-label="Cancel" title="Cancel" class="on-left"  />
				<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" :round size="lg" color="primary" icon="edit" aria-label="Edit" title="Edit" class="on-left"/>
				<vu:button-submit th:if="${model.modeReadOnly && model.ticket.ticketStatusId != 'CLOSED'}" action="@{_closeTicket}" :round size="lg" color="primary" icon="check" aria-label="Close ticket" title="Close ticket" class="on-left"  />
				<q-btn th:if="${!model.modeCreate}" round size="lg" color="primary" icon="add" aria-label="Add work order" title="Add work order" class="on-left" th:@click="|openModal('workOrderEditModal', '@{/maintenance/workorder/new}', { 'ticketId' : vueData.ticket.ticketId, 'successCallback' : 'onWorkOrderSuccess' })|"></q-btn>
				<vu:button-link th:if="${!model.modeCreate}" icon="fas fa-rocket" url="@{/basemanagement/equipment/} + ${model.ticket.equipmentId}" ariaLabel="Go to equipment" round size="lg" color="primary" class="on-left" />
			</div>
		</section>
		
		<section layout:fragment="content" class="row q-col-gutter-md">
			<div class="col-2 gt-md">
				<vu:include-data object="ticket" field="dateCreated" />
				<vu:include-data object="ticket" field="dateClosed" />
				<q-timeline color="secondary">
				  <q-timeline-entry v-if="vueData.ticket.ticketStatusId === 'CLOSED'" subtitle="Ticket closed" :title="vueData.ticket.dateClosed"></q-timeline-entry>
				  <q-timeline-entry subtitle="Ticket created" :title="vueData.ticket.dateCreated" ></q-timeline-entry>
				</q-timeline>
			</div>
			<div class="col row q-col-gutter-md">
					<div class="col-12" th:if="${model.modeReadOnly}">
							<vu:include-data object="ticket" field="ticketStatusId" />
							<q-stepper v-bind:value="vueData.ticket.ticketStatusId" no-header-navigation class="noContent">
								<q-step name="OPEN" title="Open"></q-step>
								<q-step name="ASSIGNED" title="Assigned"></q-step>
								<q-step name="CLOSED" title="Closed" active-icon="check"></q-step>
							</q-stepper>
						</div>
					<vu:block title="Information">
						<vu:grid cols="2">
							<vu:text-field object="ticket" field="code" />
							<vu:text-field object="ticket" field="title" />
						</vu:grid>
					</vu:block>
					<vu:block title="Description">
						<vu:include-data object="ticket" field="description" />
						<q-editor th:v-if="${!model.modeReadOnly}" v-model="vueData.ticket.description" ></q-editor>
						<pre th:if="${model.modeReadOnly}" th:utext="${model.ticket.description}"></pre>
						<input type="hidden" name="vContext[ticket][description]" v-bind:value="vueData.ticket.description" />
					</vu:block>
					<vu:table th:if="${model.modeReadOnly}" list="workOrders" title="Work Orders" componentId="workOrders" rowsPerPage="10">
						<vu:slot name="top_right_slot"><q-btn class="fab-block" round color="primary" icon="add" aria-label="Add work order" title="Add work order" th:@click="|openModal('workOrderEditModal', '@{/maintenance/workorder/new}', { 'ticketId' : vueData.ticket.ticketId, 'successCallback' : 'onWorkOrderSuccess' })|"></q-btn></vu:slot>
						<vu:slot name="actions_slot"><q-btn round icon="edit" title="View detail" aria-label="View detail" th:@click="|openModal('workOrderEditModal', '@{/maintenance/workorder/}' + props.row.woId , {'successCallback' : 'onWorkOrderSuccess' })|"></q-btn></vu:slot>
						<vu:include-data object="ticket" field="ticketId" />
						<vu:include-data object="workOrders" field="woId" />
						<vu:column field="name" />
						<vu:column field="dateCreated" />
						<vu:column field="dueDate" />
						<vu:column field="dateClosed" />
					</vu:table>
					<q-page-sticky position="bottom-right" >
						<vu:button-submit th:if="${model.modeEdit}"   icon="save" label="Save" action="@{_save}" size="lg" color="primary" />
						<vu:button-submit th:if="${model.modeCreate}" icon="save" label="Create" action="@{_create}" size="lg" color="primary"/>
					</q-page-sticky>
				<vu:modal componentId="workOrderEditModal" title="Work Order" iframe_width="800" iframe_height="400"  />
			</div>
		</section>
		<section layout:fragment="javascript-footer" >
			<script type="text/javascript">
				function onWorkOrderSuccess() {
					componentStates.workOrderEditModal.opened = false;
					VUi.methods.httpPostAjax("[[@{/maintenance/ticket/_reloadWorkOrders}]]", {});
				}
			</script>
		</section>
	</body>
	
</html>