<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Persons</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
		<div class="row justify-between q-mb-md">
			<div>
				<q-btn label="Add" type="a" color="primary" th:href="@{/humanresources/person/}"></q-btn>
			</div>
			<div class="row justify-end">
				<vu:form>
					<vu:button-submit icon="fas fa-grip-horizontal" action="@{_changeRenderer?renderer=cards}" th::flat="${model.listRenderer != 'cards'}"/>
					<vu:button-submit icon="fas fa-table" action="@{_changeRenderer?renderer=table}" th::flat="${model.listRenderer != 'table'}" />
					<vu:button-submit icon="fas fa-list" action="@{_changeRenderer?renderer=list}" th::flat="${model.listRenderer != 'list'}" />
				</vu:form>
			</div>
		</div>
		
		<th:block th:if="${model.listRenderer == 'table'}">
			<vu:table list="persons" componentId="personsTable" sortUrl="@{/hr/persons/_sort}">
				<vu:column field="personId" />
				<vu:column field="firstName" sortable="true" />
				<vu:column field="lastName" sortable="true" />
				<vu:column field="email" sortable="true" />
				<vu:column name="actions" label="Actions" >
					<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/hr/person/}'+props.row.personId|"></q-btn>
				</vu:column>
			</vu:table>
		</th:block>
		<th:block th:if="${model.listRenderer == 'cards'}">
			<vu:include-data object="persons" field="personId" />
			<vu:include-data object="persons" field="firstName" />
			<vu:include-data object="persons" field="lastName" />
			<vu:include-data object="persons" field="email" />
			<vu:include-data-protected object="persons" field="picturefileId"/>					
			
			<vu:cards list="persons" cardClass="marsCard col-xl-4 col-md-6 col-xs-12" componentId="personsCards" sortUrl="@{/hr/persons/_sort}" rowsPerPage="8" showMore="true" showMoreLabel="Show more" >
				<q-card-media >
					<img th::src="|'@{/humanresources/person/picture/}'+item.picturefileId|"/>
				</q-card-media>
				<q-card-title>
					<a class="text-primary" th::href="|'@{/hr/person/}'+item.personId|">{{item.firstName}} {{item.lastName}}</a>
					<span slot="subtitle">{{item.email}}</span>
				</q-card-title>
				<q-card-main>
				a
				</q-card-main>
				<q-card-separator></q-card-separator>
				b
			</vu:cards>
		</th:block>
		<th:block th:if="${model.listRenderer == 'list'}">
			<vu:include-data-protected object="persons" field="picturefileId"/>	
			<vu:list list="persons" componentId="personsList" sortUrl="@{/hr/persons/_sort}" rowsPerPage="5" pagination_:direction-links="true" pagination_:boundary-links="true" >
				<q-item-side>
					<img th::src="|'@{/humanresources/person/picture/}'+item.picturefileId|" class="avatar"  />
				</q-item-side>
				<q-item-main>
					<div class="row">
						<div class="col-6">
							<vu:field-read field="personId" list="persons" listKey="personId" listDisplay="firstName" />
						</div>
						<div class="col-6">
							<vu:include-data object="persons" field="lastName" />
							<vu:include-data object="persons" field="email_fmt" />
							{{item.lastName}}
							{{item.email_fmt}}
						</div>
					</div>
				</q-item-main>
				<q-item-side>
					<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/hr/person/}'+item.personId|"></q-btn>
				</q-item-side>
			</vu:list>
		</th:block>
		</section>
	</body>
</html>