<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Persons</title>
	</head>
	
	<body>
	
		<section layout:fragment="content" >
		<div class="row justify-between q-mb-md text-secondary" th:if="${model.listRenderer != 'table'}">
			<div th:ref="tableTitle" class="q-title q-mb-md">{{vueData.persons.length}} Persons 
				
			</div>
			<div th:ref="tableActions" class="row justify-end text-primary">
				<q-btn icon="add" round label="Add" type="a" color="primary" th:href="@{/humanresources/person/}"></q-btn>
				<div class="vertical-separator"></div>
				<q-btn icon="fas fa-grip-horizontal" type="a" th:href="@{?renderer=cards}" th::flat="${model.listRenderer != 'cards'}"> </q-btn>
				<q-btn icon="fas fa-table" type="a" th:href="@{?renderer=table}" th::flat="${model.listRenderer != 'table'}" > </q-btn>
				<q-btn icon="fas fa-list" type="a" th:href="@{?renderer=list}" th::flat="${model.listRenderer != 'list'}" > </q-btn>
			</div>
		</div>
		
		<th:block th:if="${model.listRenderer == 'table'}">
			<vu:table list="persons" componentId="personsTable" sortUrl="@{/hr/persons/_sort}" top_left_slot="~{ :: tableTitle}" top_right_slot="~{ :: tableActions}" >
				<vu:column field="personId" label="Buisness Code" />
				<vu:column field="firstName" sortable="true" />
				<vu:column field="lastName" sortable="true" />
				<vu:column field="email" sortable="true" />
				<vu:column name="actions" label="Actions" >
					<q-btn round icon="arrow_forward" type="a" th::href="|'@{/hr/person/}'+props.row.personId|"></q-btn>
				</vu:column>
			</vu:table>
		</th:block>
		<th:block th:if="${model.listRenderer == 'cards'}">
			<vu:include-data object="persons" field="personId" />
			<vu:include-data object="persons" field="fullName" />
			<vu:include-data object="persons" field="email" />
			<vu:include-data object="persons" field="dateHired" />
			<vu:include-data object="persons" field="tags" />
			<vu:include-data-protected object="persons" field="picturefileId"/>					
			
			<vu:cards list="persons" cardClass="marsCard col-xl-4 col-md-6 col-xs-12" componentId="personsCards" sortUrl="@{/hr/persons/_sort}" rowsPerPage="8" showMore="true" showMoreLabel="Show more" >
				<q-card-media >
					<img th::src="|'@{/hr/person/picture/}'+item.picturefileId|"/>
				</q-card-media>
				<q-card-main class="row">
					<div class="col-3" >
						<q-icon name="fas fa-user" size="35px" color="primary"></q-icon>
					</div>
					<div class="col" >
						<a class="text-primary small-caps text-bigger" th::href="|'@{/hr/person/}'+item.personId|">{{item.fullName}}</a><br/>
						Email : {{item.email}}<br/>
						Hired : {{item.dateHired}}<br/>
						<q-icon name="location_on" size="25px"></q-icon><br/>		
					</div>		
				</q-card-main>
				<q-card-separator></q-card-separator>
				<q-card-actions>
					<q-chips-input :value="item.tags"  :readonly="true"  :hide-underline="true" ></q-chips-input>
				</q-card-actions>
			</vu:cards>
		</th:block>
		<th:block th:if="${model.listRenderer == 'list'}">
			<vu:include-data object="persons" field="personId" />
			<vu:include-data-protected object="persons" field="picturefileId"/>	
			<vu:list list="persons" componentId="personsList" sortUrl="@{/hr/persons/_sort}" rowsPerPage="8" pagination_:direction-links="true" pagination_:boundary-links="true" >
				<q-item-side>
					<img th::src="|'@{/hr/person/picture/}'+item.picturefileId|" class="avatar"  />
				</q-item-side>
				<q-item-main>
					<div class="row">
						<div class="col-6">
							<vu:include-data object="persons" field="fullName" />
							<vu:include-data object="persons" field="dateHired" />
							<a class="text-primary small-caps text-bigger" th::href="|'@{/hr/person/}'+item.personId|">{{item.fullName}}</a><br/>
							Hired : {{item.dateHired}}<br/>
						</div>
						<div class="col-6">
							<vu:include-data object="persons" field="email_fmt" />
							<vu:include-data object="persons" field="tags" />
							<q-icon name="mail" ></q-icon>{{item.email}}<br/>
							<q-chips-input :value="item.tags"  :readonly="true"  :hide-underline="true" ></q-chips-input>
						</div>
					</div>
				</q-item-main>
				<q-item-side>
					<q-btn round color="primary" icon="arrow_forward" type="a" th::href="|'@{/hr/person/}'+item.personId|"></q-btn>
				</q-item-side>
			</vu:list>
		</th:block>
		</section>
	</body>
</html>