<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcModalLayout}"
>
	<head>
		<title>Work Order Detail</title>			
	</head>
	
	<body>		
		<section layout:fragment="page-container" >
			<vu:form th:if="${!model.closeSuccess}">
			<vu:grid cols="1">
				<vu:text-field object="workOrder" field="name" />
				<vu:text-field object="workOrder" field="code" />
				<vu:date object="workOrder" field="dueDate" :popover="true" />
				<vu:text-area object="workOrder" field="description" />
				<vu:select th:if="${model.modeEdit}" object="workOrder" field="workOrderStatusId" list="workOrderStatus"/>
				<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{_save}" color="primary" class="float-right q-mt-md"/>
				<vu:button-submit th:if="${model.modeCreate}"  label="Create" action="@{_create}" color="primary" class="float-right q-mt-md" />
			</vu:grid>
			</vu:form>
		</section>
	</body>
</html>