<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>

<head>
	<title>Movie Detail</title>
</head>

<body>
	<div layout:fragment="content">
	
			<vu:form id="myFormId">
				<vu:block title="Movie">
				<vu:grid cols="2">
					<vu:text-field-read object="movie" field="movId"/>
					<vu:text-field object="movie" field="name"/>
					<vu:text-field object="movie" field="year"   />
					<vu:select object="movie" field="couId" list="countries"/>
					<vu:grid-cell>
						<vu:button-submit th:if="${model.modeReadOnly}" label="Edit" action="@{_edit}" color="primary"/>
						
						<!-- button for Level 2.2 -->
						<vu:button-submit th:if="${model.modeEdit && false}" label="Save" action="@{_save}" color="primary"/>
						
                        <!-- button for Level 2.6 -->
                        <vu:button-submit-confirm th:if="${model.modeEdit}" action="notUsed" formId="notUsed" label="Save" color="primary">
						       <!--  il est aussi possible de simplement paramétrer les labels utilisés, sans utiliser le slot -->
						       <vu:slot name="actions_slot">
                                 <q-btn flat label="Non pas vraiment" color="primary" v-close-popup ></q-btn>
                                 <q-btn type="submit" th:formaction="@{_save}" form="myFormId" label="Oui tout à fait" color="primary" v-close-popup ></q-btn>
                               </vu:slot>
                               <span>Etes-vous certain de vouloir sauvegarder ?</span>
						</vu:button-submit-confirm>
						<vu:button-link th:if="${model.modeEdit}" label="Cancel" url="@{/movie/} + ${model.movie.getLong('movId')}" />
					</vu:grid-cell>
				</vu:grid>
				</vu:block>
				<br/>
				<vu:table list="roles" componentId="roleTable" rowsPerPage="10" binary-state-sort
				  sortUrl="@{/movie/_sort}"
				  tr_@click.native="|componentStates.roleActorDialog.opened=${model.modeEdit};componentStates.roleActorDialog.rolId=props.row.rolId|"
				  th:tr_class="${model.modeEdit}?'nav':''" >
	                <vu:include-data object="roles" field="rolId" />
	                <vu:column field="asCharacter" />
	                <vu:column field="actId">
	                   <vu:field-read  list="actors" listKey="actId" listDisplay="name"/>
	                </vu:column>
                </vu:table>
                <q-dialog v-model="componentStates.roleActorDialog.opened"
                    @before-show="VUiPage.httpPostAjax('_loadActorRole', {'roleId':componentStates.roleActorDialog.rolId})"
                    th:with="objectKey=${model.vContext['componentStates'].addComponentState('roleActorDialog').addPrimitive('opened', false)}, objectKey=${model.vContext['componentStates']['roleActorDialog'].addPrimitive('selectedRolId', 0)}">                    
                    <vu:block id="general" title="Role Actor Dialog">
                    <vu:grid cols="1">
                        <vu:text-field object="selected_role" field="asCharacter" />
                        <vu:text-field object="selected_actor" field="name" />
                        <q-btn th:@click="|httpPostAjax('@{_saveActorRoleAjax}', vueDataParams(['selected_role','selected_actor']),{ onSuccess: function(response) {componentStates.roleActorDialog.opened=false;}})|" color="primary" class="float-right q-mt-md" label="Save" ></q-btn>
                    </vu:grid>
                    </vu:block>
                </q-dialog>           
			</vu:form>
        	</div>		
        </section>
        
        <section layout:fragment="javascript-footer" >
            <script type="text/javascript">
                VUiPage.$watch('vueData.movie', Quasar.utils.debounce(
                        (newValue, oldValue) => { VUiPage.httpPostAjax('_validate', VUiPage.vueDataParams(['movie']))}, 500
                        ), { deep: true });
                
                function onRoleActorSuccess() {
                    VUiPage.$data.componentStates.roleActorModal.opened = false;
                    VUiPage.httpPostAjax("[[@{_reloadRoles}]]", {});
                }
                
            </script>
        </section>
</body>
</html>