<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>

<head>
	<title>Movie Detail</title>
</head>

<body>
	<div layout:fragment="content">			
			<vu:form>
				<vu:grid cols="2">
					<vu:text-field object="movie" field="movId"/>
					<vu:text-field object="movie" field="name" />
					<vu:text-field object="movie" field="year" />
					<vu:select object="movie" field="couId" list="countries" valueField="couId" labelField="name"/>
					<vu:grid-cell>
						<vu:button-submit th:if="${!model.modeEdit}" label="Edit" action="@{_edit}" color="primary"/>
						<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{_save}" color="primary" />
						<q-btn  th:label="Movies" type="a" th:href="@{/movies/}"></q-btn>
					</vu:grid-cell>
				</vu:grid>
			</vu:form>
	</div>
</body>
</html>