<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>
	<head>
		<title>Movie List</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<div>
			<h2>Movies</h2>
			<vu:table list="movies" componentId="movieTable" >
				<vu:column field="movId" >
					<a th::href="|'@{/movie/}'+props.row.movId|" >{{props.row.movId}}</a>
				</vu:column>
				<vu:column field="name" sortable="true" />
                <vu:column field="year" sortable="true" />
			</vu:table>
			</div>
		</section>
	</body>
</html>